[2019-01-19 02:58] epicfaace commented on #995
Thanks @loganvolkers . @CamDHall I'm closing this issue; but if you have any questions/problems feel free to leave a comment.

[2019-01-19 02:58] #995 closed

[2019-01-19 03:01] epicfaace commented on #687
This particular issue does seem to be a duplicate of #408 as @glasserc said. Closing this issue as a duplicate.

[2019-01-19 03:01] #687 closed

[2019-01-19 04:32] epicfaace commented on #932
Hi @ivanthemeh , can you please post an example on jsfiddle?

[2019-01-19 04:36] epicfaace opened #1138 "Set up a documentation site"
We should transition away from using a very long README.md for docs and generate a documentation site instead.

I was thinking https://readthedocs.org/ -- any other suggestions? @glasserc @edi9999

[2019-01-19 04:37] epicfaace commented on #1073
Unfortunately, I don't think there's a way to do that, but we'd welcome a PR that does implement that!

[2019-01-19 04:55] epicfaace commented on #1030
I'm trying to replicate this with the same code here: https://jsfiddle.net/epicfaace/twbuk85r/2/

However, everything seems to be working fine. @w- maybe you can send me the full sample of your code to see what is wrong?

[2019-01-19 04:59] epicfaace commented on #1014
Thanks for the explanation @MatejBransky ! Closing this, but feel free to comment if you have additional questions, @hopewise .

[2019-01-19 04:59] #1014 closed

[2019-01-19 05:11] epicfaace commented on #1015
Looks good @MatejBransky ! It does look better than the playground, feel free to do a PR.

@glasserc

[2019-01-19 09:35] revolunet commented on #1110
Hi; im away from keyboard atm so feel free to fork if you can. Thanks

[2019-01-19 09:54] edi9999 commented on #1138
+1 for readthedocs, it provides clean documentation, with also documentation per version, PDF export.

One example on another project I maintain : https://docxtemplater.readthedocs.io/en/latest/

[2019-01-19 09:56] edi9999 commented on #1136
Indeed, I had published this package.

I have just deprecated the package with following message :

`'This package is deprecated in favor of the "react-jsonschema-form" package which is maintained.'`

[2019-01-19 09:56] #1136 closed

[2019-01-19 14:19] epicfaace commented on #1138
I don't have admin access to this repo, so @glasserc you may need to set it up with readthedocs.

[2019-01-19 14:31] epicfaace commented on #611
@gastonche It looks like the problem is that you are trying to use `allOf`, while `allOf` is not supported by this library yet. Tracking progress on that in #52.

[2019-01-19 14:31] #611 closed

[2019-01-19 16:57] #977 closed

[2019-01-19 19:54] epicfaace commented on #990
I've submitted a request with browserstack.

[2019-01-19 19:54] epicfaace commented on #980
I'm closing this, but if you have more information on your issue @ceu , feel free to add a comment.

[2019-01-19 19:54] #980 closed

[2019-01-19 19:59] epicfaace commented on #979
@gadzet , this is by design -- see the JSON schema spec: https://json-schema.org/understanding-json-schema/reference/array.html#tuple-validation

Basically, when an array of objects is passed to the `items` property, it requires all those objects to be present. If you want to have an array which doesn't have required items, use an object for the `items` property, like this:

[code]

[2019-01-19 19:59] #979 closed

[2019-01-19 20:03] epicfaace commented on #749
This change was done in #485. @n1k0 @Reggino what was the justification for adding yarn.lock to .gitignore?

[2019-01-19 20:04] epicfaace commented on #752
Closing this for now; @vincentsixty if you have a code example or more information, please feel free to comment.

[2019-01-19 20:04] #752 closed

[2019-01-19 20:08] epicfaace commented on #859
I believe this is because the `default` value of firstName is equal to `Chuck`. It should be triggering neither HTML5 validation nor live validation, (while currently it's triggering HTML5 validation), so this is a bug.

[2019-01-19 20:09] epicfaace commented on #839
@marinav great you solved your problem, closing this.

@utajum , autocomplete is an attribute (https://github.com/mozilla-services/react-jsonschema-form#form-attributes). Feel free to open another issue if you have a specific question about it.

[2019-01-19 20:09] #839 closed

[2019-01-19 20:12] epicfaace commented on #886
You can give it a className such as `hidden-title`, and then in your css do:

[code]

See this fiddle for an example: https://jsfiddle.net/epicfaace/kvu1gxct/

[2019-01-19 20:18] epicfaace commented on #867
@Armondel the jsfiddle you've sent is no longer working, it looks like this one shows the proper problem:

https://jsfiddle.net/epicfaace/7mzv1pLk/

@glasserc did we somehow have an old schema type that stopped working after an update or something?

[2019-01-19 20:19] epicfaace commented on #745
Yes, it's a CSS solution. Closing this for now, but @alexblickenstaff let me know if you have additional questions.

[2019-01-19 20:19] #745 closed

[2019-01-19 20:33] epicfaace commented on #614
@eddyzhang1986 , this seems to have been fixed in the [latest version](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJ0aXRsZTIiOiJhIiwiZG9uZSI6ZmFsc2V9LCJzY2hlbWEiOnsidGl0bGUiOiJUb2RvIiwidHlwZSI6Im9iamVjdCIsInJlcXVpcmVkIjpbInRpdGxlIl0sInByb3BlcnRpZXMiOnsidGl0bGUiOnsidHlwZSI6InN0cmluZyIsInRpdGxlIjoiVGl0bGUifSwidGl0bGUyIjp7InR5cGUiOiJzdHJpbmciLCJ0aXRsZSI6IlRpdGxlIn0sImR

[2019-01-19 20:33] #614 closed

[2019-01-20 05:53] epicfaace commented on #1116
Thanks for the bug report. onBlur is also missing.

onBlur and onFocus are missing for the following widgets:
RadioWidget
CheckboxWidget
CheckboxesWidget

[2019-01-20 05:58] epicfaace opened #1139 "id is not populated for radio boolean fields"
### Description

ID is not populated for radio boolean fields.

### Steps to Reproduce

[Playground example](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6dHJ1ZSwic2NoZW1hIjp7InR5cGUiOiJib29sZWFuIn0sInVpU2NoZW1hIjp7InVpOndpZGdldCI6InJhZGlvIn19)

#### Expected behavior

I expect there to be an element (i.e. field-radio-group) to have id equal to "root", rendering the fol

[2019-01-20 06:05] #1139 closed

[2019-01-20 06:07] epicfaace commented on #749
Actually, looks like it's because we already have a `package.lock`, so developers are supposed to use npm to install dependencies, not yarn. That's why we don't have a `yarn.lock`.

[2019-01-20 06:07] #749 closed

[2019-01-20 16:03] epicfaace commented on #828
Interesting idea. For the case in which you have

[code]

Where would the title of the "husband" object field show up?

Additionally, if we apply a class to `husband` using `classNames`, how would that class be rendered? As of now it would create a parent element for `husband` which has that particular class, then render the properties of husband into that parent element.

[2019-01-20 16:04] epicfaace commented on #827
Reproducible JSFiddle: https://jsfiddle.net/epicfaace/xh0uyLjn/

[2019-01-20 16:07] epicfaace commented on #820
Reproducible fiddle: https://jsfiddle.net/epicfaace/fjasqxdb/

Obviously circular messages should not be supported -- what behavior are you expecting? Perhaps the form should show an error message in the form itself, rather than just on the console instead?

[2019-01-20 17:02] epicfaace commented on #783
I'm merging this issue into #794.

[2019-01-20 17:02] #783 closed

[2019-01-20 19:24] epicfaace opened #1141 "Use uiSchema to customize oneOf/anyOf with different types"
### Prerequisites

- [x] I have read the [documentation](https://github.com/mozilla-services/react-jsonschema-form/blob/master/README.md#readme);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.

### Description

I would like to use oneOf with different types. (another way of solving the problem in issue

[2019-01-20 19:32] epicfaace commented on #462
Merging this issue with #899.

[2019-01-20 19:32] #462 closed

[2019-01-20 19:34] epicfaace commented on #228
This was resolved by PR #1021.

[2019-01-20 19:34] #228 closed

[2019-01-21 00:41] epicfaace commented on #988
I believe the issue is that you can only use $ref to reference definitions that are in the `definitions` property in the schema (i.e., all referenced paths should start with `#/definitions/...`).

[2019-01-21 01:20] #556 closed

[2019-01-21 03:09] epicfaace commented on #1049
Duplicate of #197, closing.

[2019-01-21 03:09] #1049 closed

[2019-01-21 04:35] epicfaace commented on #44
@chmac's example seems to be working in the latest version here (https://jsfiddle.net/epicfaace/4xznjm2k/), so I'm closing this.

[2019-01-21 04:35] #44 closed

[2019-01-21 04:45] epicfaace commented on #215
(The `<p>` tag mentioned by @n1k0 is no longer an issue.)

Here's my proposal:

[code]

Essentially, we would pass in custom components through the `components` prop, and then access them by doing `{"component": "[component name]"}`. What do you think?

[2019-01-21 04:56] epicfaace commented on #958
It's worth noting that this issue doesn't come up when `ui:widget` is set to `updown`.

[2019-01-21 04:57] epicfaace commented on #226
@leplatrem are you interested in doing a PR for this?

[2019-01-21 04:59] epicfaace commented on #291
It looks like @mplis-jetsetter has answered your question, @oreon, but let us know if you have any more questions.

[2019-01-21 04:59] #291 closed

[2019-01-21 05:01] epicfaace commented on #1035
Replicating this in this fiddle: https://jsfiddle.net/epicfaace/9p17e2qx/

[2019-01-21 12:01] chertkovalex commented on #1038
Hi @fbring ! Thanks for your workaround. A've also tried something like this, and it works.
Now can you please post more expanded example?
How do you choose a right template from several templates?
And what is returned as default template?

[2019-01-21 15:09] agilliam-cmg commented on #1114
THANKS @glasserc ! Very helpful info!

[2019-01-21 15:34] epicfaace commented on #907
Related to #226.

[2019-01-21 15:36] epicfaace opened #1146 "Adding a block of text or image"
It would be nice to be able to add a "block" which contains a title / image / text / custom JSX. Kind of like how in Google forms, you can add these kinds of blocks.

![image](https://user-images.githubusercontent.com/1689183/51483947-2a407500-1d4f-11e9-8663-3a621c0d6aa3.png)

Is there a way to specify this in the JSON Schema spec? Or perhaps we would need a modification in the UISchema?

[2019-01-21 17:11] epicfaace commented on #1116
Reopening because onFocus is still not working for `CheckboxesWidget`

[2019-01-21 18:34] epicfaace commented on #446
@matiaslarsson I'm not able to test this, as it seems like I can only set CPU throttling up to 6x, not 50x. Any suggestions?

[2019-01-21 21:05] jericmason opened #1148 "Inconsistent support for oneOf"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-01-21 22:50] epicfaace commented on #1148
Hmm, so it looks like the problem is that when the value changes and triggers a new schema in `oneOf`, the library should delete the keys in `formData` that are not present in the new schema. This is the code which implements that requirement with the standalone oneOf without dependencies:

https://github.com/mozilla-services/react-jsonschema-form/blob/1941e760d8af93b118bbc193dd98b88f64b32645/src/

[2019-01-22 01:04] loganvolkers commented on #1010
@epicfaace I think this feature would have a small API surface area change, but also give a lot of power for theming.

In particular, this is useful for doing object layouts and array layouts from left right, or with wrapper elements, or custom styles.

![image](https://user-images.githubusercontent.com/1157086/51505955-854d8880-1d9e-11e9-8fc0-144556e7e2cb.png)

[2019-01-22 01:11] loganvolkers opened #1150 "OneOfFieldTemplate"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-01-22 01:20] loganvolkers commented on #1146
## JSON Schema spec

There is nothing in the JSON schema spec that provides such capabilities for custom blocks.

One thing that I have seen done is providing Markdown support in the `title` and `description` fields, such as in the [Open API Specification](https://swagger.io/specification/).

We have implemented this using a custom `FieldTemplate` property, but the easiest is via a Markdown-suppor

[2019-01-22 01:37] loganvolkers commented on #583
@glasserc interesting discussions about the Jest typescript migration https://news.ycombinator.com/item?id=18918038

[2019-01-22 07:21] Ab1d opened #1151 "schema should be object or boolean"
### Prerequisites

- [* ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description

I am getting this error while importing From from "react-jsonschema-from", its says "schema should be object or boolean", can anyone help me how to solve this?

### Steps to Reproduce

1. import Form from "react-jsonschema-form"
2. go to console and see the error

#### Expect

[2019-01-22 11:42] LucianBuzzo commented on #1151
Could you please post some code or a minimum reproduction? Here is a starter project you could use https://codesandbox.io/s/wy52wnz4w5

[2019-01-22 14:01] epicfaace commented on #583
I wouldn't mind, honestly, though it would be a large rewrite to do so.

[2019-01-22 14:39] epicfaace commented on #1010
@loganvolkers Yes, `ui:template` is a great idea and it also wouldn't break backwards compatibility so it would be easier to merge than @MatejBransky 's PR.

[2019-01-22 18:33] loganvolkers commented on #1010
@epicfaace Great I'll work on getting something wired up.

[2019-01-22 21:16] #824 closed

[2019-01-22 21:47] glasserc commented on #867
I don't think the first fiddle should have ever worked but maybe I'm missing something.

The second fiddle behaves more-or-less the way I would expect it to: when you check `isEnabled`, it shows `enabled` in the select box for `description`. When you uncheck `isEnabled`, it shows `disabled` in the select box for `description`. If `enabled` was previously selected, it changes to a blank field. The

[2019-01-22 21:51] glasserc commented on #1015
The whole point of the project is to support React, which means that when the schema changes, the components should adapt. That's easy to do in the current playground but I don't see how you could do it using CodeSandbox. I also really like how easy it is to click from example to example to make sure there's nothing wrong with any of them.

Neither of the above are strong objections so feel free t

[2019-01-22 22:21] epicfaace commented on #1015
That's right, I didn't realize that CodeSandbox didn't let you update the schema easily, so we probably shouldn't do this. (As to the second point, the code sandbox does have a dropdown with different examples, though.)

[2019-01-23 05:09] Ab1d commented on #1151
<img width="772" alt="screenshot 2019-01-23 at 10 37 49 am" src="https://user-images.githubusercontent.com/3349621/51584423-30735480-1efb-11e9-893f-d86ca0e80c12.png">
<img width="1440" alt="screenshot 2019-01-23 at 10 38 09 am" src="https://user-images.githubusercontent.com/3349621/51584427-3701cc00-1efb-11e9-879b-dae5ed16a8e5.png">

[2019-01-23 07:06] LucianBuzzo commented on #1151
@Ab1d I updated the codesandbox to match the code you've shown in the screenshot and I don't see an error - Is there aynthing I'm missing? https://codesandbox.io/s/wy52wnz4w5

[2019-01-23 16:20] glasserc commented on #867
At first, the form data is `{}`, so `isEnabled` isn't present at all, so it doesn't trigger any dependencies. If you add `default: false` to the `isEnabled` schema, then "disabled" shows up on load: https://jsfiddle.net/e64scboh/

I guess conceptually this isn't great because the checkbox UI doesn't let you distinguish between `false` and "missing", but I don't really have any good ideas on how to

[2019-01-23 17:12] mabeabe28 opened #1153 "Google autofill overwriting existing data"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.

JSfiddle: https://jsfiddle.net/woahpaolo/z6tsp8ru/

Manually type firstname and lastname...then ensure you have a Google Autofill saved for email, whic

[2019-01-23 17:22] glasserc commented on #1070
I think there's been a few different times when users wished they could do certain kinds of programmatic traversal of a JSON Schema and either alter it, or produce a UI Schema from it. It would be really cool to see some kind of function, class or module that let you say "Here is a schema and some rules about what to do with the schema" and took care of the recursion.

This isn't a real API but ma

[2019-01-23 17:29] leplatrem commented on #226
Why not! But I must admit that it'd be very low in my priority list...

[2019-01-23 19:20] sahithikol commented on #1047
Please suggest any thing here

[2019-01-24 16:00] jbadeau opened #1154 "Composite Widget"
### Prerequisites

- [ X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ X] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [X ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github

[2019-01-24 16:35] epicfaace commented on #333
It looks like this feature has already been implemented. Closing

[2019-01-24 16:35] #333 closed

[2019-01-24 16:37] #1132 closed

[2019-01-24 17:31] epicfaace commented on #1153
Do you mind making a codepen that reproduces this issue?

[2019-01-24 17:45] mabeabe28 commented on #1153
Sure, here you go:
JSfiddle: https://jsfiddle.net/woahpaolo/z6tsp8ru/

Manually type firstname and lastname...then ensure you have a Google Autofill saved for email, which consists of a first name and last name.

Select that email from Autofill. and it will overwrite the manually typed Firstname and lastname

[2019-01-24 18:03] epicfaace commented on #1153
Thanks @mabeabe28 , I'm wondering how you are saving the email through autofill on jsfiddle? If you could share your method of doing that it'd be easier for me to reproduce.

[2019-01-24 18:09] mabeabe28 commented on #1153
@epicfaace it's more so Google Chromes auto fill feature, it just saves form data for me automatically as i browse/fill out forms.

However, to manually create one, if you go into saved addresses on your Chrome Browser and add one, you'll be able to replicate the issue and have a suggested email on the fiddle.

[2019-01-24 18:15] epicfaace commented on #1153
I see, thanks. Here's a jsfiddle with a regular HTML form with the expected behavior (in contrast): https://jsfiddle.net/epicfaace/1my3f9n4/1/

[2019-01-24 18:19] epicfaace commented on #1153
When I fill out the form, then manually change the "value" attribute of the firstname and lastname inputs to nothing in the Chrome HTML inspector, then the autofill works as expected.

[2019-01-24 18:34] epicfaace commented on #1153
Can confirm that this problem exists in regular React as well, so it's not specific to rjsf. https://jsfiddle.net/epicfaace/9p17e2qx/20/

[2019-01-24 21:09] KKS1 opened #1155 "support for wildcard in conditional schema dependency"
### Prerequisites

- [ ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-01-24 22:18] mabeabe28 commented on #1153
Yeah it seems to be a general react issue... figured there would be a way round that rjsf could implement. setting autocomplete=off doesnt work...but autocomplete="anystringetcetc" (making it equal to any value but off) seems to work, and Google doesnt overwrite it.

So my way around was in 'components/widgets/BaseInput.js' to add autocomplete={value == null ? "" : value} to the input component.

[2019-01-25 00:57] epicfaace commented on #1155
You can use the `pattern` attribute to filter by a regular expression, such as `other*`. In this case, `pattern: "Other"` will suffice to make sure that the field contains the word "other." [Playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJ1c2FnZU9wdGlvbnMiOlsiT3RoZXIgSG9tZSBBZGRyZXNzZXMiXX0sInNjaGVtYSI6eyJ0aXRsZSI6IkEgcmVnaXN0cmF0aW9uIGZvcm0iLCJkZXNjcm

[2019-01-25 01:00] epicfaace commented on #1146
Thanks @loganvolkers , that makes sense -- and once https://github.com/mozilla-services/react-jsonschema-form/pull/1152 is merged, it will be easier to create custom `FieldTemplate`s for each description.

[2019-01-25 01:01] epicfaace commented on #1010
Do you think it would be useful to have a `ui:TitleField` and `ui:DescriptionField`? This would be for the use case in which one wants to override a title / description field for a specific field, but doesn't want to necessarily override the entire field template. I'm thinking specifically of #1146 .

[2019-01-25 01:11] epicfaace commented on #1153
@mabeabe28 Your solution works (this jsfiddle: https://jsfiddle.net/epicfaace/9p17e2qx/28/).

I think it's worth it to add it to the library, unless you can think of any undesirable consequences of doing this? One thing is, the code will need to set `autoComplete={value == null ? "" : value}` *only if* the autocomplete attribute of the `<Form>` is not set to `"off"`. Can you make a PR?

[2019-01-25 01:13] epicfaace commented on #1153
Actually, one thing to keep in mind is how adding this fix may interact with implementing a `ui:autocomplete` property as in #906.

[2019-01-25 01:15] epicfaace opened #1156 "Rename autocomplete to autoComplete"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.

### Description

We should rename the `autocomplete` attribute on `<Form>` to `autoComplete`. This is because that's how React does it on the actual `<

[2019-01-25 01:15] epicfaace commented on #906
Yes, anyone interested in writing a PR for this?

[2019-01-25 01:16] #1138 closed

[2019-01-25 08:49] jbadeau commented on #1154
Thanx allot

[2019-01-25 08:49] #1154 closed

[2019-01-25 16:39] epicfaace commented on #1155
You can use the `contains` keyword for this: [playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJ1c2FnZU9wdGlvbnMiOlsiUmVmaW5hbmNlIiwiT3RoZXIiXX0sInNjaGVtYSI6eyJ0aXRsZSI6IkEgcmVnaXN0cmF0aW9uIGZvcm0iLCJkZXNjcmlwdGlvbiI6IkEgc2ltcGxlIGZvcm0gZXhhbXBsZS4iLCJ0eXBlIjoib2JqZWN0IiwicHJvcGVydGllcyI6eyJ1c2FnZU9wdGlvbnMiOnsidHlwZSI6ImFycmF5IiwidGl0bGUiOiJMb2FuIFVzYWd

[2019-01-25 16:42] epicfaace commented on #1015
I'll close this then; I don't think we should go with this, but @MatejBransky if you have more thoughts feel free to comment.

[2019-01-25 16:42] #1015 closed

[2019-01-25 21:40] KKS1 commented on #1155
Thank you so much @epicfaace . I used a combination of your suggestions to solve, and works like a charm. Here is how the dependency looks like, for anyone else facing this issue

[code]
This will make sure that conditional schema kicks in only when specifically, one if the enum options ( in this case `Other` is included the enum array.

[2019-01-25 22:34] epicfaace commented on #1155
Great, glad it works @KKS1 !

[2019-01-25 22:34] #1155 closed

[2019-01-26 00:41] epicfaace opened #1157 "Multiple pages proposal"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-01-26 00:46] epicfaace commented on #1157
Another repo which implements pagination: https://github.com/RxNT/react-jsonschema-form-pagination

[2019-01-26 00:47] epicfaace commented on #968
This would be related to #1157

[2019-01-26 00:56] epicfaace commented on #296
@volodimirian, if you give a `col-xs-12  col-sm-12  col-md-12  col-lg-12` class to the `done` field, it should work as in the below example:

https://jsfiddle.net/epicfaace/4rjyv65t/

[2019-01-26 00:56] #296 closed

[2019-01-26 00:56] #330 closed

[2019-01-28 01:35] YaoKaiLun commented on #810
@edi9999 For beautify the style, i have to change my data structure, it's too awkward :( .

[2019-01-28 10:53] gpietro commented on #820
Hi, I should get back at it to answer you. I don't actually remember what I was trying to do at that time. I'll open another issue if the case. For now we can close this one.

[2019-01-28 10:53] #820 closed

[2019-01-29 09:51] mlbstrm opened #1159 "FieldTemplate children are in an array"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-01-29 09:59] paintedbicycle commented on #762
I have run into the "Flexbox / CSS-Grid in Chrome" issue, where chrome does not allow them on Fieldset elements.

So, I'd like to change the Fieldset in all my forms to something else...basically just swap <fieldset> for a <div> or <section>.

I find the docs on this very confusing. Can anyone point me to docs or specific info on how to do this? I'm confused with all the terminology around overrid

[2019-01-29 11:51] paintedbicycle commented on #762
OK I have found a workaround

This is the default object field template (from https://github.com/mozilla-services/react-jsonschema-form/blob/174e136af4fe728eb79e92594733ea729f3d659f/src/components/fields/ObjectField.js)

[code]

If you change the fields to a `<div>` or anything else and then use this as a custom object (from https://react-jsonschema-form.readthedocs.io/en/latest/advanced-customiza

[2019-01-30 11:47] Skynet6 commented on #1090
No it is not. It is not only for the required validation but all sorts of validations.

[2019-01-30 19:05] dok opened #1160 "Infinite $ref recursive error via computeDefaults"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-01-30 20:43] PhilipK2 commented on #899
@peterkelly I am using your new repository but the glyphicons still arent displaying. Does anyone else have this same issue?

[2019-01-30 20:50] PhilipK2 commented on #899
dfg

[2019-01-31 04:19] epicfaace commented on #1090
When I try to [reproduce](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyIxLjExLjEiOiJObyIsIjEuMTEuMyI6eyIxLjExLjMuMSI6InEyIn19LCJzY2hlbWEiOnsidHlwZSI6Im9iamVjdCIsInRpdGxlIjoiIiwicHJvcGVydGllcyI6eyIxLjExLjEiOnsidHlwZSI6InN0cmluZyIsInRpdGxlIjoiQXJlIHlvdSBhY3Rpbmcgb24gYmVoYWxmIG9mIHRoZSBQTEggKGUuZy4gdGhlIGFnZW50KSIsImRlZmF1bHQiOiJObyIsImVudW0iOlsiTm8iLCJZZXMiXX19LCJkZXBl

[2019-01-31 15:33] victorzhuk opened #1161 "formData reactivity in ArrayField"
### Prerequisites

- [x ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description

While I'm creating custom `ArrayField` with custom `onAddClick` method, noitced, that `formData` is not reactive, and you should call `myFormRef.onChange(myData)` to force re-render form component. Is it bug or feature?

Looking at src of `ArrayField` I see that:
[code]
Maybe

[2019-01-31 16:00] epicfaace commented on #1161
Thanks for the issue report. Can you please include a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io/react-jsonschema-form/) demonstrating the issue?

[2019-01-31 18:02] victorzhuk commented on #1161
Sure! [click me](https://jsfiddle.net/zhukva/sk5x0jzu/)

[2019-01-31 18:54] epicfaace commented on #1161
Can't you just use `props.onAddClick` instead of defining your own `props.onContext.onAddClick`? Such as in this fiddle: https://jsfiddle.net/9wnb2uo1/

If you really need to define your own `props.onContext.onAddClick`, you have to call `myFormRef.onChange(myData)`; that is intended. Otherwise, with the line of code you have:
[code]
You are just creating a variable named `data` and setting it to

[2019-01-31 19:03] epicfaace commented on #1090
@Skynet6 here's a [shared playground link of your schema](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJQYXJ0aWNpcGF0aW9uIjpbeyJEaXJlY3Rpb24iOiJEb3duIiwiT3B0aW9uVHlwZSI6Ik9wdGlvbjEiLCJCbHVlIjoxLCJSZWQiOjEsIlllbGxvdyI6MSwiR3JlZW4iOiJPcHRpb24yIn1dfSwic2NoZW1hIjp7IiRzY2hlbWEiOiJodHRwOi8vanNvbi1zY2hlbWEub3JnL2RyYWZ0LTA2L3NjaGVtYSMiLCIkaWQiOiJQcm9kdWN0SWQiLCJ0aXRsZSI6IlBy

[2019-01-31 19:45] Skynet6 commented on #1090
@epicfaace but if you for example put -1 in Red, you will get validation message for both branches.

[2019-01-31 19:49] Skynet6 commented on #1090
Or in this case [link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJQYXJ0aWNpcGF0aW9uIjpbeyJEaXJlY3Rpb24iOiJEb3duIiwiT3B0aW9uVHlwZSI6Ik9wdGlvbjEiLCJSZWQiOjEsIkdyZWVuIjoiT3B0aW9uMiIsIkJsdWUiOjB9XX0sInNjaGVtYSI6eyIkc2NoZW1hIjoiaHR0cDovL2pzb24tc2NoZW1hLm9yZy9kcmFmdC0wNi9zY2hlbWEjIiwiJGlkIjoiUHJvZHVjdElkIiwidGl0bGUiOiJQcm9kdWN0MSIsImRlc2NyaXB0aW9uIjoiUHJvZHVjdCAxIiwidHl

[2019-02-01 15:58] Skynet6 opened #1162 "enum values are duplicated when using oneOf"
### Prerequisites

- [x ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ x] Ideally, I'm providing [a shared playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJQYXJ0aWNpcGF0aW9

[2019-02-01 15:59] Skynet6 commented on #1090
I've created a separate issue for point 2. Here is the [link](https://github.com/mozilla-services/react-jsonschema-form/issues/1162)

[2019-02-02 06:48] huhuaaa commented on #530
I set a 'default' value, but the empty selectable still in dropdown.

[2019-02-02 15:33] epicfaace commented on #530
@huhuaaa Can you send a playground link so we can reproduce?

[2019-02-02 20:58] victorzhuk commented on #1161
I expect that `formData` prop is reactive, if you pass `data` and then change it - DOM should rerender, no need to call `onChange`. but sometimes when copy object (even without `Object.assign`) and use it's prop in render - maybe this breaks this reactivity behavior?

[2019-02-04 00:07] Steffan-Ennis opened #1164 "safeRenderCompletion documentation"
### Prerequisites

- [x ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.

### Description

Should document the purpose of the safeRenderCompletion prop

When onChange has been invoked it should invoke props.onChange with th

[2019-02-04 10:03] cyplo opened #1165 "Release the recent `anyOf`/`oneOf` changes"
Heya, sorry for opening an issue for this but I haven't found any better way of communicating this in the docs.

I would like to take advantage of the recent changes in `rjsf`, especially in the `anyOf`/`oneOf` space - e.g. https://github.com/mozilla-services/react-jsonschema-form/pull/1129 and https://github.com/mozilla-services/react-jsonschema-form/pull/1133

Would it be possible to cut a new r

[2019-02-04 11:03] LucianBuzzo commented on #1162
I need to dig deeper into why this is happening, but I noticed that your schema seems to unnecessarily declare `OptionType` twice - removing the nested declaration prevents the duplicated enum values from appearing whilst maintaining the intention of the schema.
https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJQYXJ0aWNpcGF0aW9uIjpbeyJEaXJlY3Rpb24iOiJEb3duIiwiT3B0aW9uVHl

[2019-02-04 11:18] LucianBuzzo commented on #1162
Here is a [minimal reproduction](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJQYXJ0aWNpcGF0aW9uIjpbeyJEaXJlY3Rpb24iOiJEb3duIiwiT3B0aW9uVHlwZSI6ImZvbyJ9XX0sInNjaGVtYSI6eyJ0eXBlIjoib2JqZWN0IiwicHJvcGVydGllcyI6eyJQYXJ0aWNpcGF0aW9uIjp7InR5cGUiOiJhcnJheSIsIml0ZW1zIjp7InR5cGUiOiJvYmplY3QiLCJwcm9wZXJ0aWVzIjp7IkRpcmVjdGlvbiI6eyJ0eXBlIjoic3RyaW5nIiwiZGVmYXVsdCI6IkRvd24ifSwiT

[2019-02-04 16:41] fabri86 commented on #1090
Hi,
since I have a similar problem as @Skynet6 , I tried to replicate his issue to verify if I could have done some mess when defining the schema, and actually I also get an error in the evaluation of the oneOf keyword.

![wrong validation oneof](https://user-images.githubusercontent.com/17066478/52222423-bf8d4e80-28a3-11e9-990a-9894469abaa4.JPG)

It looks like it is validating the absence of requ

[2019-02-04 17:08] glasserc commented on #810
I would recommend not using `react-jsonschema-form` if you are trying to implement a specific form. `react-jsonschema-form` is a tool for building forms without any knowledge of the form you are trying to build. It is not meant to replace writing HTML.

[2019-02-04 17:58] glasserc commented on #1148
When we switch from one `oneOf` case to another, we try to remove the fields that correspond to the `oneOf` case that we leave. I think similar behavior makes sense when we switch out of a schema dependency case. That may mean moving the schema dependency logic out of `utils` and into `SchemaField` or something. Unfortunately, unlike `MultiSchemaField`, there's no clear "component" here that makes

[2019-02-04 18:02] glasserc commented on #1160
This is an old weakness in rjsf. See #557 and #820. In principle it isn't necessary to instantiate the entire schema, but we do at the moment.

[2019-02-04 18:12] glasserc commented on #958
This is part of a larger constellation of issues about how we handle numbers. See #674. It's also kind of a problem with how live vaildation works -- it probably doesn't really make sense to validate until we get a `blur`.

[2019-02-04 18:16] glasserc commented on #988
Refs #954.

[2019-02-04 18:43] glasserc commented on #979
Nice work solving this @epicfaace !

[2019-02-04 19:02] glasserc commented on #910
Those class names are only added for `additionalProperties` fields, which have additional requirements because both the field name and value are required to be next to each other. Most fields do not have any sizing classes on them. Even if they were, you could still override those sizes using CSS, which is outside the scope of this project.

[2019-02-04 19:32] glasserc commented on #1165
I have released [v1.2.1](https://github.com/mozilla-services/react-jsonschema-form/releases/tag/v1.2.1), although I think some of the changes you mention were in 1.2.0.

[2019-02-04 19:32] #1165 closed

[2019-02-05 09:00] cyplo commented on #1165
Thank you so much !

[2019-02-05 22:50] Rasstrelnikov commented on #1141
I have encountered nearly the same issue in that I would like to use oneOf with an object and a basic type. I also want to use this oneOf inside an array. The oneOf works differently inside and outside of an array.

Here is the oneOf schema by itself:

[code]

With a [playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6e30sInNjaGVtYSI6eyJvbmVPZiI6W3sidHlwZSI6

[2019-02-06 00:00] travisdahl opened #1167 "Expose events for onSubmit, onReset"
It would be really useful if you could expose the original event as a second parameter for all of the form handlers....

example...
[code]

There is useful information for complex cases where you may need some info in the original event.

[2019-02-06 03:50] epicfaace commented on #1167
Good idea; I'd welcome a PR for this.

[2019-02-06 07:31] MatinF commented on #530
We have an enum dropdown with Disable/Enable.

If we use the enum values 0 and 1 for these, the blank field is there (though we can set a default value of 0 to avoid this showing unless the user clicks the dropdown).

If we use the enum values 1 and 2, the blank field is gone. This seems to resolve the issue where people want to avoid the blank field, but it also seems a bit "hacky" - is this an i

[2019-02-06 10:37] LucianBuzzo opened #1168 "Broken behaviour for oneOf inside array"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-02-06 10:38] LucianBuzzo commented on #1141
@Rasstrelnikov Since you have reported a separate problem, I've opened a new issue to track it https://github.com/mozilla-services/react-jsonschema-form/issues/1168

[2019-02-06 17:36] epicfaace commented on #530
@MatinF Please send me a playground link to reproduce. When I try both of your cases, I can see a blank field in both cases.

[2019-02-06 18:47] MatinF commented on #530
@epicfaace You should be able to get the result in this below schema in the playground by varying the "Disable" enum between 0 and 1. With 0, it produces a dropdown in which the blank field is available, while with 1 the blank field is not available.

We're not sure if this is working as intended or a bug?

[code]

[2019-02-06 19:19] travisdahl commented on #1167
I dint realize until I got in the code that the submit is the only one that comes from the actual form. I made a PR for the submit...

https://github.com/mozilla-services/react-jsonschema-form/pull/1172

[2019-02-06 21:27] PhilipK2 commented on #1168
How do I signup to be notified when this functionality is complete?

[2019-02-06 22:11] PhilipK2 opened #1173 "Issue with nesting oneOf inside an array that is inside of an object."
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-02-07 09:21] LucianBuzzo commented on #1168
@PhilipK2 You can "watch" the repo to be notified of activity on it.

[2019-02-07 09:34] LucianBuzzo commented on #1173
@PhilipK2 On the playground, there is a "share" button, clicking that will give you a link you can paste here.
Its a bit difficult to understand your intention, as the example data and the schema you posted don't quite match up. My understanding is that you want to present a different set of options based on the initial `type` value. This schema should work:
[code]
You can see a [working example h

[2019-02-07 11:23] nocmar opened #1175 "Fields ordering in UISchema throw an error when the field is inside oneOf"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-02-07 15:47] betalb opened #1176 "oneOf and anyOf are not working if property can be string or array of strings"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-02-07 16:51] PhilipK2 commented on #1173
@LucianBuzzo  When I hit share, it replaces my code with what was already in place. How would I save it to share here?
Yes, I am trying to present different options after the first type value, but then different options on each subsequent field as well.

[2019-02-08 05:51] epicfaace commented on #975
@MatinF thanks for your report, it does seem to be an issue with using `default` and `oneOf`/`anyOf`. Can you please make a playground link (https://mozilla-services.github.io/react-jsonschema-form/) with your example and make another issue for this?

[2019-02-08 07:57] MatinF opened #1177 "Select Box from enums have empty value if indexed from 0 and using 0 as default"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-02-08 08:00] MatinF commented on #768
Would be great to get this resolved. Currently, if we do use default values in this scenario, the editor looks like it's correctly selected these - but since they don't render in the formData, it can lead to some rather serious errors if users/developers are not aware of this.

[2019-02-08 20:08] MatinF commented on #823
Hi all - is it correctly understood that there's no integrated way yet to restrict the formData field order to match that of the schema (without relying on an uischema)? Or is there some way to ensure this via the schema alone e.g.? Thanks!

[2019-02-08 21:21] epicfaace commented on #530
Thanks for the sample. Yes, it seems like the problem is that when the default is set to `0` or `""`, it is showing an empty value, while it should not be showing the empty value.

Here's a [reproducible playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJiaXRfcmF0ZV9mZCI6MH0sInNjaGVtYSI6eyJ0eXBlIjoib2JqZWN0IiwicHJvcGVydGllcyI6eyJiaXRfcmF0ZV9mZCI6eyJ0aXRsZ

[2019-02-08 21:22] epicfaace commented on #530
Oh, just saw you created an issue for this in #1177. Will close this issue as that one is clearer. Thanks!

[2019-02-08 21:22] #530 closed

[2019-02-08 21:22] epicfaace commented on #1177
This issue also exists when default is equal to `""`.

[2019-02-08 21:27] epicfaace commented on #1162
@LucianBuzzo I get an error saying "Unable to load form setup data." when opening the above link.

[2019-02-08 21:57] epicfaace commented on #1090
@fabri86 thanks for the messages. I wasn't looking at the right link. I think the first screenshot you are mentioning is from [this playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJQYXJ0aWNpcGF0aW9uIjpbeyJEaXJlY3Rpb24iOiJEb3duIiwiT3B0aW9uVHlwZSI6Ik9wdGlvbjEiLCJCbHVlIjoxLCJSZWQiOi0xMSwiR3JlZW4iOiJPcHRpb24xIn1dLCJmaXJzdE5hbWUiOiJDaHVjayIsImxhc3ROYW1lIjoiT

[2019-02-08 22:10] epicfaace commented on #1167
Thanks for the PR. Can you also add an `onReset` handler? https://developer.mozilla.org/en-US/docs/Web/Events#Form_events

[2019-02-10 16:17] MatinF opened #1178 "formData properties are not in the same order as in the schema"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.

### Description

We're using the RJSF to create a configuration file (i.e. the formData), based on a schema. For our use case (an IoT data logger), it'

[2019-02-10 16:28] epicfaace commented on #1178
Hey @MatinF , for me, the order of properties in the console seems to be correct. I'm using Chrome 72.0.3626.96.

![image](https://user-images.githubusercontent.com/1689183/52536310-b241eb00-2d0d-11e9-99e0-d342732f6a2c.png)

Do you mind sending a screenshot of what you see? What browser are you using?

[2019-02-10 16:37] epicfaace commented on #823
I believe you've addressed this question in #1178, right?

[2019-02-10 16:58] MatinF commented on #823
@epicfaace Yes, let me know if I should delete my comment here? Then I'll do so of course.

[2019-02-10 17:00] MatinF commented on #1178
That's strange - see attached screenshot.

I'd expect firstName to be the first entry, but I'm getting age as the first one in the console for example.
I'm using Chrome browser.

![formdataconsole](https://user-images.githubusercontent.com/26184427/52536647-a1b96100-2d5d-11e9-9373-2959b05282cd.PNG)

[2019-02-10 17:16] epicfaace commented on #823
Sure, I'll delete these comments here for now.

[2019-02-10 17:17] epicfaace commented on #1178
How does it look like before you click the arrow to expand it on the console?

[2019-02-10 19:32] MatinF commented on #1178
It seems I must have been seeing ghosts - I'm not able to replicate this anymore. Sorry for opening this up on a wrong basis. I'll let you know if it reoccurs.

[2019-02-10 19:32] #1178 closed

[2019-02-11 01:14] mrbarletta commented on #899
thanks for the effort @peterkelly  -  how hard is to update it to the latest react-jsonchema-form ? seems january was a very active month and your fork is behind.

[2019-02-11 01:49] epicfaace commented on #899
Yes, having a ui framework agnostic solution would be great. There was some stalled progress at #1013). If someone has an implementation of just the `withTheme` function, that would be a great feature that would solve the bootstrap 4 problem and I'd be willing to add to the library.

[2019-02-11 07:58] LucianBuzzo commented on #1178
Just to add some color to this issue - *you cannot guarantee or rely on the order of keys in a javascript object*. See https://stackoverflow.com/a/5525820/8583153 for more information:

[2019-02-11 14:10] hasan-li commented on #1162
@LucianBuzzo

The problem here is that schema has 3 levels of dependecies.

[code]

As you see `OptionType` is the conditional dependency, so problem could be solved if `OptionType` is removed from top level. But in that case the default value of `OptionType` in nested dependency won't enable conditional dependencies in it's nested dependencies, so fields `Blue, Red, Yellow and Green` won't visibl

[2019-02-11 16:36] epicfaace commented on #1178
That's true, but it seems that in ES6 objects _do_ have traversal orders defined: http://exploringjs.com/es6/ch_oop-besides-classes.html#_traversal-order-of-properties

[2019-02-11 18:45] pieplu commented on #1161
I'm not sure. But I think your issue is for React. And I don't think it's a bug. React simply does know if the variable (data in your case) is changed.

To be re-rendered, a component should have a parent who said, "Hey! You! re-render!" or have a state modification (setState). (Except with react context API)

1. Your `data` variable should not be lost on your code like that. You should wrap all o

[2019-02-11 20:26] victorzhuk commented on #1161
Yep, you are right! [here](https://jsfiddle.net/zhukva/sk5x0jzu/40/) new code.
In additional:
- for reactivity derive from `Component` and use `setState()`
- props are not reactive
- but if you need reactive props - use `PureComponent` or [memoize](https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html)

thx for your answers and hope this helps someone else!

[2019-02-12 16:55] epicfaace opened #1180 "Integrate with code climate"
Regarding #1170

See https://docs.codeclimate.com/docs/travis-ci-test-coverage

[2019-02-12 18:18] hwine commented on #1180
@epicfaace this request needs to be approved by a repository admin before it can be granted.

Also, since we have not yet evaluated code climate, please supply information as outlined in [the wiki](https://wiki.mozilla.org/GitHub#How_do_I_hook_up_a_new_3rd_party_application_to_a_repository_in_the_mozilla_org.3F)

**Note**: code climate appears to be an old style OAuth application. That significant

[2019-02-13 07:41] akshenk8 commented on #848
The additionalProperties can be removed if the AJV library is passed appropriate [removeAdditional option](https://github.com/epoberezkin/ajv#filtering-data). The consequent effects will have to be tested.

[2019-02-14 01:24] KKS1 opened #1181 "Is there a way to update outer formData from within a custom widget ?"
### Prerequisites

- [ ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-02-14 17:24] christianeide commented on #1181
I have made a solution for something similar as this. I have field that fetches data from an API and populates other fields with that data. As far as I know there is not a readymade solution for this.

_Simplified code below_

On my form I defined a custom formContext
`<Form formContext={{ updateOtherForms: this.updateOtherForms }} >`

This formContext has a simple function that updates formData (

[2019-02-14 22:57] arthas702 opened #1182 "References inside oneOf breaks form UI."
### Prerequisites

- [ x ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ x ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ x ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.git

[2019-02-15 04:24] arthas702 commented on #1182
Did some debugging, isValid from ajv is used only by AnyOfField. And it doesn't seem to be able to validate object type.

[2019-02-15 19:50] alexose opened #1184 "noHtml5Validate should be true by default"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-02-15 20:10] KKS1 commented on #1181
Thanks @christianeide . Appreciate the help. The way O finally resolved this, is by creating a custom `Address` field, which comprises of all the widgets `city`, `state`, `zip` etc. The Address field, then, takes `object` type and updates/ persists the formData properties, to populate all the underlying widgets its rendering.

[2019-02-18 04:15] pubudu-ranasinghe commented on #1138
Please consider bringing back the docs in readme. The separate site makes it extremely difficult to navigate. Having everything in one page with the ToC made it so much easier to quickly navigate and find the references.
IMO the docs are not large enough to warrant a different website.

[2019-02-18 14:15] adrianriddle commented on #1176
@betalb - do you have an example of this working with a non-primative setup? I am having the same issue but with a $ref to a definition or an array of the same $ref to a definition.

[2019-02-18 17:36] epicfaace commented on #1138
@pubudu-ranasinghe the docs _are_ really long, it was getting unwieldy to keep it in a README.

Could you explain a bit more about what difficulties you are facing? The categories on the sidebar may definitely need to be better reorganized, but I had just copied over the same title from the README for the time being when doing the docs. The docs site does have a "Search..." feature -- does that no

[2019-02-18 19:56] epicfaace commented on #1161
Great, glad your issue was fixed -- thanks @pieplu ! Closing this issue.

[2019-02-18 19:56] #1161 closed

[2019-02-19 06:35] adrianriddle commented on #1176
This looks to be coming from the getMatchingOption function in the MultiSchemaField.js file.
When adding a value to the array it's not seen as a valid value according to the check "isValid" (uses ajv and checks that the formData is valid according to the schema). The initial value in the array is null, so the select will fall back to the first option.

This is also an issue when using an object wi

[2019-02-19 08:33] pubudu-ranasinghe commented on #1138
I guess you are right. It is too long. In the readme I knew where everything was(almost from muscle memory)
For example,
One tricky thing I always come back to is how to use `oneOf` It was somewhat difficult to find. I have to come to the repo. Scroll down to find the doc site link. Go there and find the definitions.

But this is unavoidable I guess.

[2019-02-19 19:25] hangaritaPaymentez opened #1185 "Duplicate items in Select widget without the Error: "enum should NOT have duplicate items""
### Prerequisites

- [ X ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ X ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.githu

[2019-02-20 13:05] KDederichs commented on #1182
I'm facing the same issue trying to build a logic filter system, example:

https://jsfiddle.net/wrp648bt/1/

Instead of glitching the UI though it gives me this error:
[code]

[2019-02-21 00:48] #1168 closed

[2019-02-22 09:58] paintedbicycle opened #1188 "Better logging for schema issues"
### Description

When using a large schema, it can be hard to find the specific schema issue from the log warnings. I recently received:

I know there is an issue with the dependency schema for my form, but unfortunately I have several oneOf dependencies for several refs and I'm having trouble tracking down which one this refers to.

### Steps to Reproduce

Create a form with an invalid dependency

[2019-02-22 17:45] neilyoung commented on #598
@fantapop Looks good, but produces tons of warnings, mostly because of this:

index.js:1449 Warning: Each child in an array or iterator should have a unique "key" prop.

[2019-02-22 17:58] fantapop commented on #598
@neilyoung maybe you meant to tag @loganvolkers

[2019-02-22 18:08] neilyoung commented on #598
@fantapop Right, sorry, fixed

[2019-02-22 18:48] travisdahl commented on #754
So we have a working solution for only returning the data actually used in the form.  Will post a PR soon for consideration. As stated above there is no super straight fwd solution, but I think I found a pretty reasonable and not too intrusive solution.

The idea is....

• Add a `name` attribute to all of the fields that is the json path to the form data, e.g. `foo.bar.1.name` (something that IMO

[2019-02-23 13:13] chinds185a commented on #1188
Just better errorHandling in general would be better.

I'm working on a live form builder.

Existing formSchema is loaded into a json editor a user can then edit/add to that jsonSchema, however when adding a new property in the json editor it starts by creating an empty object, the live preview form updates and throws an error instantly.

[code]

it would be nice if the form would continue to rend

[2019-02-24 05:21] epicfaace commented on #1185
According to JSON Schema, values in an enum must be unique (see https://json-schema.org/understanding-json-schema/reference/generic.html#enumerated-values). Since "1055" is repeated twice, it does not work.

Maybe a workaround would be that you could try two different values such as "1055", "1055 " -- and then do some processing before the form is submitted to convert all "1055 " values to "1055"?

[2019-02-24 05:22] epicfaace commented on #1184
That's a good point. What do you think @glasserc @edi9999 @LucianBuzzo ?

[2019-02-24 05:25] epicfaace commented on #1180
@hwine thanks for the info. Are there any other code analysis Github Apps that have already been evaluated and used at Mozilla?

[2019-02-25 10:25] savushkin-yauheni commented on #696
Hi. Do you have a rough estimate of this enhancement ?

[2019-02-25 10:26] bockelie93 opened #1193 "Enhancement: Allow MultiSelect to render CheckBoxWidget."
### Prerequisites

- [X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description

For all cases so far, I would rather render the CheckBoxesWidget than the SelectWidget for when I have to choose multiple values in an array. It's tedious having to update each UiSchema, so I would rather want to override the widget for MutliSelect.

### Steps to Reproduce

1.

[2019-02-25 13:02] edi9999 commented on #1184
I think like you, it is a good idea but since it is backwards incompatible, it should be done in v2 only

[2019-02-25 14:47] LucianBuzzo commented on #877
I'm closing this issue as the issue involves a different library and a workaround has been provided.

[2019-02-25 14:47] #877 closed

[2019-02-25 15:08] loganvolkers commented on #598
Thanks for pointing that out @neilyoung.

Feel free to contribute a forked version. The example I shared was proof of
concept, not production supported code, so even if I patch that, there may
be other things that affect it, especially considering the high rate that
the ObjectFieldTemplate API is being updated.

Good luck!

On Sat, Feb 23, 2019, 3:08 AM neilyoung, <notifications@github.com> wrote:

[2019-02-25 16:12] LucianBuzzo commented on #1184
@edi9999 @epicfaace This interaction is pretty horrible, especially for checkbox/boolean fields. It's definitely a breaking change though, so it should coincide with a major version bump of the npm package.

[2019-02-25 17:15] LucianBuzzo commented on #52
This functionality is now available as of v1.2.1

[2019-02-25 17:18] LucianBuzzo commented on #272
Resolved by https://github.com/mozilla-services/react-jsonschema-form/pull/371

[2019-02-25 17:18] #272 closed

[2019-02-25 17:22] epicfaace commented on #52
@LucianBuzzo just making sure, we do support everything needed for `allOf`, correct?

[2019-02-25 17:25] LucianBuzzo commented on #289
An empty string is valid for a JSON Schema of type `string`, if the default HTML5 validation is causing issues, you can specify the `minLength` keyword or set the `noHtml5Validate` prop to `true` (see https://react-jsonschema-form.readthedocs.io/en/latest/validation/#html5-validation).

[2019-02-25 17:25] #289 closed

[2019-02-25 17:31] LucianBuzzo commented on #306
I'm closing this as I was unable to reproduce this issue using the latest version, see https://codesandbox.io/s/7k9v6v1qyj

[2019-02-25 17:31] #306 closed

[2019-02-25 17:37] LucianBuzzo commented on #307
Using `onChange` and storing the `formData` value will work well here - take a look at this example https://codesandbox.io/s/14ovp8nwk3

[2019-02-25 17:37] #307 closed

[2019-02-25 17:42] LucianBuzzo commented on #326
Closing this issue due to inactivity

[2019-02-25 17:42] #326 closed

[2019-02-25 17:45] RUVATA opened #1195 "trouble with native compatibility with ajv-i18n"
### Prerequisites

- [v] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [v] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [v] I'm providing a playground **codesandbox** (https://codesandbox.io/embed/vm3lz56j53?fontsize=14) demonstrating the issue.

### Description

Curren

[2019-02-25 17:48] LucianBuzzo commented on #607
Closing due to inactivity

[2019-02-25 17:48] #607 closed

[2019-02-25 18:00] epicfaace commented on #1193
That sounds good! Feel free to make a PR implementing this.

[2019-02-25 18:01] LucianBuzzo commented on #610
@sunnybogawat This is just a case of constructing the corresponding JSON schema - this should work in your case:
[code]

See [this playground link ](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJyZXF1ZXN0Ijp7InVuaXQiOnsibmFtZSI6ImV4YW1wbGUxMjMuY29tIiwiZXh0ZW5zaWJsZV9hdHRyaWJ1dGVzIjp7ImN1c3RvbWVybmFtZSI6InNhbXBsZSBjdXN0b21lciIsImN1c3RvbWVyZ3VpZCI6IjEyMyIsIlVuaXRfVHlwZ

[2019-02-25 18:01] #610 closed

[2019-02-25 18:03] LucianBuzzo commented on #592
This appears to no longer be an issue, see [this playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJyZXF1ZXN0IjpbbnVsbF19LCJzY2hlbWEiOnsidHlwZSI6Im9iamVjdCIsInByb3BlcnRpZXMiOnsicmVxdWVzdCI6eyJ0eXBlIjoiYXJyYXkiLCJpdGVtcyI6eyJ0eXBlIjoic3RyaW5nIn19fX0sInVpU2NoZW1hIjp7fX0=).

[2019-02-25 18:03] #592 closed

[2019-02-25 18:05] LucianBuzzo commented on #52
@epicfaace Good catch, I just checked and we still need to add support for `allOf`. It should be straightforward given the work already done.

[2019-02-25 18:12] hwine commented on #1180
We do have Codecov already enabled in 'mozilla' org, so it should be a quick review to enable that in 'mozilla-services'.

The other place to ask would be #github on irc -- I don't make any heavy use of GitHub myself, I just handle the administration. 😄

[2019-02-25 18:12] epicfaace commented on #1195
I think this issue should be solved once rjsf supports localization as an option, see #846

[2019-02-25 18:31] RUVATA commented on #1195
May be yes, accorded functional may be solve this trouble. Or may be not - because trouble in structure of base error object.
May be my declaration of trouble will help to ensure compatibility with ajv-i18n

[2019-02-25 18:52] RUVATA commented on #1195
I am see the pull request, and i'am dont shure that added functionality are provides compatibility with ajv-i18n native provided functions

at first - localize fuctions need incoming array of ajv validation errors
but in target solution - each error message text will be resolved separatly call of function that placed in 'localization' poperty.
those, user will write some wrapper or other abstracti

[2019-02-25 21:36] epicfaace commented on #696
@savushkin-yauheni it would probably require overriding all the widgets and templates to use React Native components instead of HTML tag components. It would probably be best to put this in a separate library that extends rjsf. It might be a substantial amount of work to do so -- but you're welcome to get started with it if you're willing and we can help you along!

[2019-02-25 21:41] epicfaace commented on #1182
@arthas702 I believe you're on the right track to fixing this. Could you make a PR fixing this issue?

[2019-02-25 22:16] epicfaace commented on #1195
No, it seems to work fine. If you add the following in `playground/samples/localization.js` in that PR:
[code]

Then all the error messages are showing up properly in Russian.

![image](https://user-images.githubusercontent.com/1689183/53372463-c1c55480-3907-11e9-871f-9d8fda7f7e43.png)

I believe this is because the localization function is called directly on the errors returned from ajv, _before_

[2019-02-26 07:07] RUVATA commented on #1195
Ok, thanks for your explanation.

remains to whait for the target pull request (#846) will be aproved and the upcoming next master major version of rjsf released.

I understand correctly ?

[2019-02-26 10:19] sbusch opened #1197 "Remove safeRenderCompletion and setImmediate hacks"
This is a proposal for V2 project, where's the chance to get rid of `setImmediate` hacks regarding `setState`:

- replace calls to custom `setState` wrapper (which uses `setImmediate` hack) with proper React `setState` calls and with callback where appropriate, and eliminate `setState` wrapper.
- remove `safeRenderCompletion`
- remove any other `setImmediate` hacks (at least outside of testing cod

[2019-02-26 10:28] sbusch commented on #1184
+1 for disabling html5 validation by default in V2

I wonder if there's a legitimate need for HTML5 validation? If no, the `noHtml5Validate` prop and DOM attributes related to HTML5 form validation could be removed completely.

[2019-02-26 13:53] epicfaace commented on #1197
Thanks for making this issue. Do you know why exactly the custom `setState` wrapper with `setImmediate` was added in the first place? Will removing this necessarily be a backwards incompatible change that would require a v2?

https://github.com/mozilla-services/react-jsonschema-form/blob/f9d4c63cac24146e522528d33eb04f465464e052/src/utils.js#L786

[2019-02-26 14:06] epicfaace opened #1198 "Document default widgets"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description

It would be good to document all the widgets that can be overridden here: https://react-jsonschema-form.readthedocs.io/en/latest/advanced-customization/#customizing-the-default-fields-and-widgets

They are in the code as `widgetMap`: https://github.com/mozilla-services/react-j

[2019-02-26 14:14] epicfaace commented on #1195
@RUVATA Exactly!

[2019-02-26 14:15] epicfaace commented on #739
Closing this in favor of #1195.

[2019-02-26 14:40] epicfaace commented on #1151
It's been a while so I'm closing this issue, but @Ab1d if you have additional questions feel free to comment here.

[2019-02-26 14:40] #1151 closed

[2019-02-26 17:29] #674 closed

[2019-02-26 17:29] #958 closed

[2019-02-26 17:29] #966 closed

[2019-02-26 18:08] sbusch commented on #1197
No, I don't *know* why.

Some forensics:

-  the `setState` wrapper was introduced in 6159cb4834a082b2af2154e6f978b9ad57e96d51, but this mostly refactored existing `setImmediate` hacks into this wrapper to enable central circumvention of `setImmediate` via `safeRenderCompletion`.
- before that, many `setImmediate` calls (all of them?) were introduced in PR #153 "Improved async rendering strategy"

[2019-02-26 23:34] arthas702 commented on #1182
I'm not familiar enough with the code base. But feel free to see my fork.
also formContext wasn't passed into MultiSchemaField. I fixed that on my fork too.

[2019-02-27 12:13] FaizuddinEverest commented on #899
BS4 upgrade would be wonderful. +1

[2019-02-28 04:46] rsaiprasad commented on #512
IMHO, instead of modifying the validate function,  its better to show or hide errors based on touched or not. A field should always be invalid if it does not have valid data irrespective of touched or not. However, the error message display need not happen if its not touched.

[2019-02-28 22:33] justtonytone opened #1200 "Support for styles (in addition to className)"
Are there any issues/objections for adding support for `styles` in addition to `className` here https://github.com/mozilla-services/react-jsonschema-form/blob/aebfab9baa94d35176b7197ecf080e2fc1258dcf/src/components/fields/SchemaField.js#L143 ?

[2019-02-28 23:22] pushred opened #1201 "Constructor onChange breaks container components that sync state with onChange"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-01 11:02] hoppula commented on #1197
After just spending three hours debugging why some keystrokes were skipped when typing rapidly in our complex form and then discovering the need for `safeRenderCompletion={true}`, big 👍 for removing these hacks.

[2019-03-02 17:49] lovato commented on #45
@OliverColeman I am having the VERY SAME issue you had. And your suggestion fixed my problem. Thanks man.

[2019-03-04 04:45] CodeGains opened #1203 "Add the source mappings for debugging"
### Prerequisites

- [X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description

When I was trying to debug some code in the playground I found that there were no source mappings so I could only step through the compiled code which is not very helpful. The source mappings can be added this one config in `webpack.config.dev.js` from:

`devtool: eval`

to

`

[2019-03-04 06:29] suriya-p-rivet commented on #531
Hi @epicfaace ,
I am having a custom field called buttonField, in the buttonfield I can able to get the idSchema from props.
however, it is separated by `"_"`.
But in my object many property name also having `"_"` like `"external_link"`.
In this case how can I get the path for this field. Any suggestion, ?

[2019-03-04 23:17] epicfaace opened #1204 "anyOf widget should not render in dependencies"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-05 16:44] epicfaace commented on #531
As you saw, #688 is an approach to solve it. However, it requires some changes to fix backwards compatibility.

I'm going to close this issue for now as it's unrelated, but @suriya-p-rivet you should make a new issue about your particular problem and then we can work off of that to solve it!

[2019-03-05 16:44] #531 closed

[2019-03-05 16:50] epicfaace commented on #1203
That's a good idea. But building the playground currently uses `webpack.config.prod.js` though

[2019-03-05 18:26] dustinHyden opened #1206 "uiSchema + Dependencies"
Hello,

Quick question, I tried searching the issue board and read through all the documentation but I can't seem to find a solution to my issue. The question is:

When using dependencies, to add different inputs based on a chosen value, how can I also tell react-jsonschema-forms to use a specific widget for the new input?

Currently, my solution is to just create a giant ui object. But! This mean

[2019-03-05 18:34] CodeGains commented on #1203
Oh I meant the playground that runs locally with `npm start`, but I suppose I could add it to the production one too.

[2019-03-05 18:49] epicfaace commented on #1203
Oh that makes sense -- it makes more sense to add this change to the local playground first; the production would be a second priority but not as important. A PR doing this change for one or both makes lots of sense!

[2019-03-05 19:38] epicfaace opened #1207 "Document (or remove) anyOf title"
It appears that there is a `title` attribute that can be added in a subschema when using `anyOf`, which is used to customize the options shown in the dropdown box (see the "any of" example on the playground).

![image](https://user-images.githubusercontent.com/1689183/53832442-336e5580-3f3b-11e9-88b9-cdecc4a14478.png)

This doesn't seem to be part of JSON Schema. Also, it isn't documented. I think

[2019-03-06 00:52] #1203 closed

[2019-03-06 02:10] epicfaace commented on #1206
You can't do that as of now. The best you can do is to create a custom widget that changes the input type based on a schema property that changes, such as `title`.

Can you explain more about what you mean when you say "a giant ui object"?

[2019-03-06 05:19] dustinHyden commented on #1206
Thanks for the reply!

That's shocking to me though, it seems highly counter productive. Instead of being able to pass the ui widgets through dependencies, I should instead pass the ui value in the schema object instead, then in my default input component I manually type out which component to show based on the widget I passed in the schema.  So, I essentially have to recreate the default function

[2019-03-06 09:24] LucianBuzzo commented on #1207
@epicfaace Why do you think it isn't part of JSON schema? AFAIK `title` is a valid keyword here. We should document this, though if you feel that the behaviour is unintuitive then we can discuss some ideas on how to improve it.

[2019-03-06 16:58] anlesk opened #1209 "Use react-is for widget type check"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description

Starting from **React 16.3.0** the component is not always a function, but could be an object if it was wrapped with `React.forwardRef`.

According to the guidelines, `react-is` should be used for type validation.
The proper way of doing that is simply call - `ReactIs.isValidE

[2019-03-06 17:14] epicfaace commented on #1207
Oh, I see, the value for the `title` keyword shows up in the `<legend>` element. I guess I didn't intuitively think at first that the same `title` keyword shows up for the dropdown as well, but it makes sense.

Perhaps there should be a way to customize the dropdown text so that it's different from the actual title that shows up from `title` -- do you have any suggestions as to how that could be a

[2019-03-06 17:26] epicfaace opened #1210 "Asynchronous validation with AJV"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-06 17:37] #338 closed

[2019-03-06 19:39] glasserc commented on #1197
Thanks for digging into this. I never really understood the purpose of those hacks myself. I'd love to see them gone.

[2019-03-06 20:00] glasserc commented on #1184
I would be OK with disabling HTML5 validation in V2.

[2019-03-06 20:11] glasserc opened #1211 "Add a "credits" file?"
The majority of the work maintaining rjsf lately has been done @epicfaace, @LucianBuzzo,  and others who are not formally recognized in the project metainformation. Right now we just have n1k0's name in the package.json "author" field. I feel like that's a little inadequate. Should we maybe add a section to the README listing current maintainers (and maybe the past ones such as myself as "contribu

[2019-03-06 21:18] glasserc commented on #1177
Now that #1163 has been merged, is this fixed?

[2019-03-06 22:32] #838 closed

[2019-03-06 22:32] #818 closed

[2019-03-07 02:13] epicfaace commented on #1177
It should be!

[2019-03-07 02:13] #1177 closed

[2019-03-08 23:37] epicfaace commented on #1211
Sure, I think we can make an `AUTHORS` file in the project directory and then npm should add them to the contributors? https://docs.npmjs.com/files/package.json#default-values

At least, that's how React itself does it https://github.com/facebook/react

[2019-03-08 23:40] epicfaace opened #1214 "Fix playground dependencies demos"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-09 00:16] PhilipK2 opened #1216 "Question: Is a oneOf inside of a oneOf possible?"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-09 16:29] #1214 closed

[2019-03-10 01:43] epicfaace commented on #1216
I don't see why not ([playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJmaXJzdE5hbWUiOiJUZXN0In0sInNjaGVtYSI6eyJ0aXRsZSI6IkEgcmVnaXN0cmF0aW9uIGZvcm0iLCJkZXNjcmlwdGlvbiI6IkEgc2ltcGxlIGZvcm0gZXhhbXBsZS4iLCJ0eXBlIjoib2JqZWN0IiwicmVxdWlyZWQiOlsiZmlyc3ROYW1lIiwibGFzdE5hbWUiXSwicHJvcGVydGllcyI6eyJmaXJzdE5hbWUiOnsidHlwZSI6InN0cmluZyIsInRpdGxlIjoiRmlyc3QgbmFtZSI

[2019-03-10 02:43] epicfaace commented on #1201
That makes sense @pushred , thanks for the report. Is there a way to make onChange called only on componentDidMount but also still keep #1033 from resurfacing?

[2019-03-12 12:05] gr8pathik commented on #804
I can solve this issue if you want to drop the support of React pre-0.15.

Assign this bug to me and I will change the `null` where ever we are returning empty `</div>` and create the pull request.

[2019-03-12 15:23] epicfaace commented on #804
@gr8pathik I'm not able to assign it to you, but please feel free to work on this bug and create a PR!

[2019-03-12 23:20] kalyan542 opened #1217 "Nested dynamic schema dependencies"
I have select box A which has options option1, option2
if select option1 in select box A,  populate another select box B with options NORMAL, CMC
If i select Normal in select box B, populate some fields name, age
If select CMC populate fields id, enable

I can able to populate dependency fields based on select box A but not with select box B.

{
  type: "object",
  properties: {
    A: {
      "ti

[2019-03-13 09:06] gr8pathik commented on #804
@epicfaace I have started working on it. But when I cloned the repo and did the `npm install` and ran the test `npm test`. The test is failing for some reason. Do you know the reason why the test is failing. (Check attached image)
<img width="1018" alt="Screen Shot 2019-03-13 at 2 34 18 PM" src="https://user-images.githubusercontent.com/353763/54266446-6947b580-459d-11e9-88b5-baa3f5d76e83.png">

[2019-03-13 15:58] epicfaace commented on #804
@gr8pathik what version of node do you have? I'm using 8.12.0

[2019-03-13 16:52] gr8pathik commented on #804
@epicfaace I have node v11.10.1 version.

[2019-03-13 16:54] edi9999 commented on #804
It is possible that the tests fail on v11, I have seen this on other projects as well I think.

With v8 it should work imo

[2019-03-13 17:12] gr8pathik commented on #804
@edi9999 @epicfaace I have downgraded the node version to v10.15.3 and all the test are passed.

[2019-03-13 20:55] a-b-r-o-w-n opened #1219 "allow custom widget for oneOf / anyOf select"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-13 22:32] epicfaace commented on #1207
Perhaps `ui:title` should be able to be supported?

[2019-03-14 16:09] a-b-r-o-w-n commented on #1219
@epicfaace I'd be happy to take a stab at this.

[2019-03-14 22:08] #804 closed

[2019-03-14 22:10] epicfaace commented on #226
@gr8pathik would you be interested in taking this on?

[2019-03-14 22:31] epicfaace commented on #744
@Y-Less are you interested in making a PR for this?

[2019-03-15 16:04] IanMayo opened #1221 "Support for generating JSON Schemas"
### Prerequisites

- [+] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description

Has anyone used the component to let users generate JSON-Schemas?

So, the JSON meta-schema [1] would be provided in the `JSON Schema` window, which would allow the user to generate a new JSON Schema in the edit pane.

When I paste in the JSON meta-schema, I get this error:
![

[2019-03-15 22:35] epicfaace commented on #906
@levilian interested in making a PR for this?

[2019-03-16 20:59] epicfaace opened #1222 "Create a `withTheme` higher-order component"
Ideally, we should have a `withTheme` HOC in which fields, widgets, and/or templates can be passed -- this can be used to implement custom themes.

This was implemented in #1013, but that included several other breaking changes -- so I'd like to see a PR which just implements the `withTheme` component so it can be added to the library.

Example usage:
[code]

I'm listing the popular / currently ma

[2019-03-16 21:04] epicfaace commented on #1120
@jduncanRadBlue bumping this, did my comment help?

[2019-03-16 21:06] epicfaace commented on #1200
I don't think so -- maybe it should be called `style` and accept an object, just like in React. Feel free to make a PR!

[2019-03-16 21:12] epicfaace commented on #1209
@anlesk sounds good, can you make a PR?

[2019-03-16 21:16] epicfaace commented on #1188
@paintedbicycle @chinds185a Can you please give me playground links to the particular scenarios that caused confusing error messages?

[2019-03-16 21:18] epicfaace commented on #1206
@dustinHyden I'm kind of unclear as to what exactly your solution was, do you mind posting a code sample?

[2019-03-16 21:27] epicfaace commented on #675
[Playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJiaWxsaW5nX2FkZHJlc3MiOnsic3RyZWV0X2FkZHJlc3MiOiJhc2QiLCJjaXR5IjoiQmFiZWwiLCJzdGF0ZSI6Ik5ldmVybGFuZCJ9LCJzaGlwcGluZ19hZGRyZXNzIjp7fSwidHJlZSI6eyJuYW1lIjoicm9vdCIsImNoaWxkcmVuIjpbeyJuYW1lIjoibGVhZiJ9XX19LCJzY2hlbWEiOnsiZGVmaW5pdGlvbnMiOnsiYWRkcmVzcyI6eyJ0eXBlIjoib2JqZWN0IiwicHJvcGVydGllcyI6eyJzdHJlZXRfYWRk

[2019-03-16 21:39] epicfaace commented on #467
@foundationx if you would like to make a PR for this feature, please go on ahead!

[2019-03-16 21:43] epicfaace commented on #1175
Hmm... @nocmar thanks for your report, do you think it might be better to be able to have different `ui:order` lists defined for each `oneOf` branch?

[2019-03-16 21:44] #956 closed

[2019-03-16 21:47] epicfaace commented on #1128
Closing this, but @Y-Less , let me know if you have any more information.

[2019-03-16 21:47] #1128 closed

[2019-03-16 21:53] epicfaace commented on #976
Yep, we should implement the `readOnly` keyword in the schema because it's in the [JSON Schema specification](https://json-schema.org/latest/json-schema-validation.html#rfc.section.10.3). I'd welcome a PR that does this -- any takers @nathfy @faissalMT @mrrotberry ?

[2019-03-16 21:59] epicfaace commented on #282
This was partially added by https://github.com/mozilla-services/react-jsonschema-form/pull/1213

[2019-03-16 22:04] epicfaace commented on #608
It doesn't look like https://github.com/chili-epfl/collab-react-components is actively under development at this point, but we definitely should add a section for "related projects."

[2019-03-16 22:04] #608 closed

[2019-03-16 22:20] epicfaace commented on #973
@theluk it looks like the title and description are in the following locations in a checkbox ([playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJmaXJzdE5hbWUiOnRydWUsImxhc3ROYW1lIjoiTm9ycmlzIiwiYWdlIjo3NSwiYmlvIjoiUm91bmRob3VzZSBraWNraW5nIGFzc2VzIHNpbmNlIDE5NDAiLCJwYXNzd29yZCI6Im5vbmVlZCJ9LCJzY2hlbWEiOnsidGl0bGUiOiJBIHJlZ2lzdHJhdGlvbiBmb3JtIiwiZGVzY3JpcH

[2019-03-16 22:50] epicfaace commented on #739
Sorry, I misread -- ajv-i18n is only for localizing *errors*, but this issue is about localizing labels, descriptions, etc. of the entire form. Reopening.

[2019-03-16 22:52] epicfaace commented on #654
Try using the bootstrap `form-inline` class as in [this example](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJmaXJzdE5hbWUiOiJDaHVjayIsImxhc3ROYW1lIjoiTm9ycmlzIiwiYWdlIjo3NSwiYmlvIjoiUm91bmRob3VzZSBraWNraW5nIGFzc2VzIHNpbmNlIDE5NDAiLCJwYXNzd29yZCI6Im5vbmVlZCJ9LCJzY2hlbWEiOnsidGl0bGUiOiJBIHJlZ2lzdHJhdGlvbiBmb3JtIiwiZGVzY3JpcHRpb24iOiJBIHNpbXBsZSBmb3JtIGV4YW1wbGUuIiwid

[2019-03-16 22:52] #654 closed

[2019-03-16 22:53] epicfaace commented on #1207
Closing this in favor of #1141

[2019-03-16 22:53] #1207 closed

[2019-03-16 22:53] #620 closed

[2019-03-16 22:54] epicfaace commented on #935
Hope that helped @agatlin  -- closing this issue

[2019-03-16 22:54] #935 closed

[2019-03-16 22:54] epicfaace commented on #937
@ketysek I'm closing this issue as it's been a while, but if you have more information please feel free to comment!

[2019-03-16 22:54] #937 closed

[2019-03-16 22:56] epicfaace commented on #512
Sounds like this discussion is on the right track. @rsaiprasad @jannikbuschke are you interested in making a PR that implements this change?

[2019-03-16 22:57] #636 closed

[2019-03-16 22:58] epicfaace commented on #802
This issue has been inactive for over a year, so I'm closing this. @francisrod01 please feel free to comment if you're still seeing this issue though.

[2019-03-16 22:58] #802 closed

[2019-03-16 22:59] epicfaace commented on #961
@LucianBuzzo do you think rjsf should fail silently on unknown formats?

[2019-03-16 23:00] epicfaace commented on #580
Closing this issue due to inactivity. @vamsiampolu if you want to clarify your request, please do.

[2019-03-16 23:00] #580 closed

[2019-03-16 23:03] epicfaace commented on #926
@donalmurtagh it seems like the JSX works in my example, which is a functional component -- https://jsfiddle.net/epicfaace/3a7bcufe/

I'm closing this issue, but please provide an example if you think it's still not working.

[2019-03-16 23:03] #926 closed

[2019-03-16 23:06] epicfaace commented on #976
Actually, looks like there's already a PR that implements it #888 -- it just needs to be updated with the docs

[2019-03-16 23:07] epicfaace commented on #939
@Vandell63 can you provide a JSFiddle / Codepen demonstrating how you would like the field to look like?

[2019-03-16 23:09] epicfaace commented on #812
@sportnak hmm, that might be hard to do, given that a lot of our error code and other functionality we support (custom meta schemas, custom formates, etc.) is now ajv-specific. Do you have an idea of how supporting alternate validators would work?

[2019-03-16 23:11] epicfaace commented on #998
This might be related to #1162 .

[2019-03-16 23:13] epicfaace commented on #328
This seems really inactive, so I'm closing. @pablen feel free to reopen if you still see this issue in 1.3.0 though.

[2019-03-16 23:13] #328 closed

[2019-03-16 23:13] epicfaace commented on #771
Closing this issue due to inactivity. Let me know if you have any more questions @vincentsixty though.

[2019-03-16 23:13] #771 closed

[2019-03-16 23:13] epicfaace commented on #669
Closing this issue due to inactivity. Let me know if you have any more questions @TBearSantaCruz  though.

[2019-03-16 23:13] #669 closed

[2019-03-16 23:15] epicfaace commented on #1079
@Muntaner can you please provide a reproducible example on codepen or jsfiddle?

[2019-03-16 23:16] epicfaace commented on #1046
@christianeide perhaps. Do you have a method in mind to do this unique id assignment -- able to make a PR fixing this?

[2019-03-16 23:19] epicfaace commented on #1046
Perhaps using something like `shortid` as outlined in [this article](https://medium.com/@robinpokorny/index-as-a-key-is-an-anti-pattern-e0349aece318)?

[2019-03-17 09:25] paintedbicycle commented on #1188
Hi @epicfaace I'm sure there are other examples, but the exact one I came up against was [this](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJzaW1wbGUiOnsibmFtZSI6IlJhbmR5In0sImNvbmRpdGlvbmFsIjp7IkRvIHlvdSBoYXZlIGFueSBwZXRzPyI6Ik5vIn0sImFycmF5T2ZDb25kaXRpb25hbHMiOlt7IkRvIHlvdSBoYXZlIGFueSBwZXRzPyI6IlllczogT25lIiwiSG93IG9sZCBpcyB5b3VyIHBldD8iOjZ9LHsiRG8geW91IGhhdmUgYW

[2019-03-17 15:09] epicfaace commented on #1188
Makes sense, thanks for the report.

Code pointer is here: https://github.com/mozilla-services/react-jsonschema-form/blob/d9bcf1acfa3fd15814654129054b3c65501f5271/src/utils.js#L607

@paintedbicycle would you have the bandwidth to submit a PR improving the warning message here?

[2019-03-17 15:41] paintedbicycle commented on #1188
@epicfaace Ok, you can reference https://github.com/mozilla-services/react-jsonschema-form/pull/1224

I tried to do a very small change here, but it might be beneficial to update other warnings around the  lib. But I don't know the code well enough.

[2019-03-17 22:39] devcompl opened #1225 "Widgets with custom formData json output"
### Prerequisites

- [X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [X] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-18 00:37] epicfaace commented on #1225
Have you tried using `ui:field`, but with an array schema instead of an object schema? https://react-jsonschema-form.readthedocs.io/en/latest/advanced-customization/#custom-field-components

[2019-03-18 01:16] bjbrewster commented on #739
lol, thanks for that.  I was wondering how the other issue superseded this.

[2019-03-18 10:25] TwoAbove commented on #1222
Woah, never though I'd be mentioned here!

Not sure that I'll be helpful here, but when this is implemented I'll refactor my fork to use this withTheme.

What is 'MyTheme' for? Just identification?

[2019-03-18 10:33] Kenny11CZ commented on #1222
I already have implemented something like `withTheme(themeObject)`, where themeObject is containing *widgets*, *fields* and *templates*. It was not that hard but, since this is my first HOC I might have done something wrong 😄

[2019-03-18 11:39] devcompl commented on #1225
So if I understand correctly you mean change the schema to this:
[code]

And use `ui:field` to change how it is rendered on the form?

I guess that will work. But this was just a simple example, I have a few more cases like this, for example:

Schema:
[code]

Current formData:
[code]

But I need to include the selected option in the formData like this:
[code]

[2019-03-18 14:39] epicfaace commented on #1222
@Kenny11CZ that sounds perfect! It would be great if you could make a PR with that 😄

[2019-03-18 15:31] epicfaace commented on #1222
@TwoAbove

That's a good point, I don't think the first argument is needed.

For reference, the [original implementation of `withTheme`](https://github.com/mozilla-services/react-jsonschema-form/pull/1013/files#diff-8ee3c4510d7c8770aa94cd843454e2f7) doesn't seem to use the first argument in a meaningful way.

[2019-03-18 22:44] epicfaace commented on #739
@bjbrewster your solution looks good. Based on your work, do you think there might be a way to add this functionality into the core library react-jsonschema-form (or at least make it easier to integrate internationalization libraries)?

[2019-03-18 22:48] epicfaace commented on #1225
@devcompl I don't see how one could create a formData with properties (`Type`) that are not in the schema. For your example, we can modify the schema to look like this (and maybe use uiSchema to hide the `Type` field):

[code]

Then your data would look like:
[code]

[2019-03-18 23:51] devcompl commented on #1225
@epicfaace
thats why I thought about a feature where widgets could generate custom json, I guess this might be slightly out of scope for this project.

The const value should work, I will just add it when generating the schema. But it seems the form is not populated with the const value ([demo](https://jsfiddle.net/vg84ztuh/)), might be a bug?

[2019-03-19 04:14] epicfaace commented on #1225
@devcompl  Oh, I missed something in my schema -- it should also include `"default": "Bar"` etc. -- only then is the form actually populated with the value.

So the schema would look like this:
[code]

[2019-03-19 10:05] nop33 commented on #899
https://github.com/mozilla-services/react-jsonschema-form/issues/899#issuecomment-451849732

Give this man a cookie 🍪

[2019-03-19 11:03] devcompl commented on #1225
@epicfaace
It does not seem to work with `oneOf`, when you select a different option the const values are not populated in the form ([demo](https://jsfiddle.net/fwm0Ly34/))

[2019-03-19 11:10] anlesk commented on #1209
Well, the proper fix would require dependencies to be switched to react>=16.3.

Until that happen - the proposed solution will cover ForwardedRef needs.

[2019-03-19 15:14] epicfaace commented on #1225
@devcompl I believe you schema has a small error, it should look like: https://jsfiddle.net/epicfaace/j27t4rLq/

However, you are right in that the `default` value does not work when using `oneOf`. Do you mind opening up a separate issue about this?

[2019-03-19 15:51] devcompl commented on #1225
@epicfaace
I changed the schema a little to show that the default values are working, and that they dont work when using `oneOf`.

I found a few issues that seem similar to this: #1043, #768 and pr that aims to solve it: #579
Do you still want me to make a new issue?

[2019-03-19 16:56] celso-slalom commented on #998
Debuggin this problem, the culprit is [here](https://github.com/mozilla-services/react-jsonschema-form/blob/aadbbe9701c4db9df761e86f0280e1ecafc509f8/src/utils.js#L228). mergeObjects is concatenating ["BLUE"] to ["BLUE", "GREEN", "RED"]

[2019-03-19 22:17] epicfaace commented on #998
Hmm, thanks for investigating @celso-slalom . It looks like the concatArrays option was added in this commit: https://github.com/mozilla-services/react-jsonschema-form/commit/933f057344873ad6aae3c086d50b5467814b28f3

I may be wrong, but I believe this option was added in order to combine errors that come from ajv + errors that are custom added for the same field? For example, if the errorSchema co

[2019-03-19 22:19] epicfaace commented on #1225
@devcompl

I think you should, this seems to be a problem specifically within `oneOf` which the other issues do not address. Also, it looks like #579 is stalled and no one is working on it, so if you think of another solution or want to work off of that PR I'd be glad to review that PR.

[2019-03-20 15:54] celso-slalom commented on #998
Hi @epicfaace, I really appreciate your answer. I've created [this fiddle](https://repl.it/@celso_slalom/react-jsonschema-formissues998) pointed to my fork of react-jsonschema-form. Based on your comments above, toggling concatArrays=true [here](https://github.com/mozilla-services/react-jsonschema-form/blob/aadbbe9701c4db9df761e86f0280e1ecafc509f8/src/utils.js#L532) doesn't seem to affect validati

[2019-03-20 16:03] MoshiMoshi0 opened #1229 "Form fields are not populated with default values when using oneOf"
### Prerequisites

- [X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [X] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [X] Ideally, I'm providing a [shared playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6e30sInNjaGVtYSI6eyJkZW

[2019-03-20 16:07] devcompl commented on #1225
@epicfaace
Ok, added #1229.

I'm closing this as its kinda off topic now.
Thanks for help.

[2019-03-20 16:07] #1225 closed

[2019-03-21 08:47] peterkelly commented on #899
I've just published an update; it's now on v1.3.0

[2019-03-22 22:08] YingXue opened #1230 "Use Object Field Template with additionalProperties"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-25 00:43] epicfaace commented on #906
@levilian

[2019-03-25 09:46] nocmar commented on #1175
@epicfaace maybe just not throw an error when the field is missing in current schema, I will do a PR.

[2019-03-25 14:49] faissalMT opened #1232 "Can't render null fields"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-25 14:53] epicfaace commented on #1232
react-jsonschema-form has not previously supported null fields. I think the behavior you described (rendering the title and nothing else) makes sense, though. Could you make a PR implementing this?

[2019-03-25 14:55] epicfaace commented on #1230
Hi @YingXue , could you make a sample JSFiddle with the exact schema and objectfieldtemplate you are using? That will help us to get to the problem faster.

[2019-03-25 14:58] faissalMT commented on #1232
I don't have much time on my hands unfortunately, you'd have to give me a week or two.

[2019-03-26 08:12] oterral opened #1233 "File object becomes a basic js object"
### Description
When we use the From component in a wrapper component and pass formData via props., the Form component transforms Props to State in `componentWillReceiveProps ` . Problem is when we use a custom widget with an input file, the `File` object is transformed to a basic object in [mergeObjects function](https://github.com/mozilla-services/react-jsonschema-form/blob/master/src/utils.js#L

[2019-03-26 10:40] epicfaace commented on #1233
@oterral , yes, that makes sense, you can just add a check to see if the input is an instance of `File`. I'd merge a PR that does this!

[2019-03-26 12:12] Sh1d0w opened #1235 "Nested dependencies not updated correctly"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-26 16:06] MatveyNeyman opened #1236 "Hide widget conditionally"
Hi there,

as far as I read from documentation the only way to hide a widget is to pass 'hidden' value to 'ui:widget' prop in the uiSchema.
My case is to hide widget conditionally depending of value. For example, hide widget if no value presented. Now I check for null in the widget and render null that produces an ugly empty divs in the DOM.
Would be nice to implement feature to pass 'hidden' prop

[2019-03-26 21:59] joneldiablo opened #1237 "type is undefined but have allOf"
Hi, I have a very long jsonschema which I want see as form.
Using the live demo, have this error:

![image](https://user-images.githubusercontent.com/13206502/55036267-b4bb8400-4fdf-11e9-8d0d-b69608434b11.png)

doing some test using the live demo, I found that if type is not declared, throw the error, its possible use allOf without type?

[2019-03-26 22:21] epicfaace commented on #1237
@joneldiablo
Can you please send a playground link demonstrating this issue? https://mozilla-services.github.io/react-jsonschema-form/

[2019-03-27 13:35] #1233 closed

[2019-03-27 13:36] epicfaace commented on #1175
I believe this issue is fixed by #814 -- sorry I didn't notice that one at the time. Thanks for your contribution and bug report though!

[2019-03-27 13:36] #1175 closed

[2019-03-27 18:58] joneldiablo commented on #1237
https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJuZXdSZWxlYXNlTWVzc2FnZSI6e319LCJzY2hlbWEiOnsidGl0bGUiOiJDcmVhdGUgbmV3IHJlbGVhc2UgbWVzc2FnZSIsImRlc2NyaXB0aW9uIjoiZGRleCB2My44LjIiLCJ0eXBlIjoib2JqZWN0IiwicHJvcGVydGllcyI6eyJuZXdSZWxlYXNlTWVzc2FnZSI6eyIkcmVmIjoiIy9kZWZpbml0aW9ucy9OZXdSZWxlYXNlTWVzc2FnZSJ9fSwiZGVmaW5pdGlvbnMiOnsiTmV3UmVsZWFzZU1lc3NhZ2UiOnsidHlwZSI6Im9iamVjdC

[2019-03-27 19:03] joneldiablo commented on #1237
I had to eliminate many definitions because the url was very long,   I leave the NewReleaseMessage and MessageHeader definitions, so just the first error have sense

[2019-03-27 19:55] Mozilla-GitHub-Standards opened #1239 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-27 20:09] travisdahl commented on #1237
running into the same problem, it looks like `allOf` isnt supported yet...
https://github.com/mozilla-services/react-jsonschema-form/issues/52

[2019-03-27 20:20] travisdahl commented on #52
@LucianBuzzo are you currently working on a PR for `allOf`?

[2019-03-27 20:27] joneldiablo commented on #1237
checking anyOf and allOf, the same error is thrown when _type_ its not declared in the property element, I think the solution is take the _type_ from the $ref or from the object in array anyOf or allOf to validate the type.  check this other example:
https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6e30sInNjaGVtYSI6eyJ0aXRsZSI6IkNyZWF0ZSBuZXcgcmVsZWFzZSBtZXNzYWdlIiwiZGVzY3J

[2019-03-27 21:46] a-b-r-o-w-n opened #1241 "better support for const"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-27 23:14] travisdahl commented on #1237
not sure what you expected in the first `allOf` example. Why would you create something and define 2 different types? or are you just expecting it to cascade and use the last type defined?

In any case `allOf` doest work even if you have a single val....

https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJuZXdSZWxlYXNlTWVzc2FnZSI6NX0sInNjaGVtYSI6eyJ0aXRsZSI6IkNyZWF0ZSBuZX

[2019-03-28 00:15] travisdahl commented on #1237
I was able to work around the current limitations with a couple extra libraries.First I resolve all the refs then I merge all the `allOf`...

[code]

not ideal, but could get you by in a pinch and easy enough to remove once these issues are resolved.

[2019-03-28 10:01] LucianBuzzo commented on #52
@travisdahl I'm not working on anything currently - In theory, to implement `allOf` we would simple merge in the `allOf` values into a single cohesive schema and then render it.
You could do this now with https://www.npmjs.com/package/json-schema-merge-allof (which I see you suggest in your comment here https://github.com/mozilla-services/react-jsonschema-form/issues/1237#issuecomment-477394478).

[2019-03-28 12:52] jobchong opened #1243 "anyOf interacts badly with validation"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-28 12:54] #1239 closed

[2019-03-28 12:55] epicfaace commented on #1209
@anlesk Sorry, I haven't really used React.ForwardedRef before. Do you mind linking to a jsfiddle in which you try to use React.ForwardedRef with react-jsonschema-form, so I can see what error is coming up and what exactly PR #1227 is fixing? Would appreciate it!

[2019-03-28 13:09] epicfaace commented on #1217
@kalyan542 Can you please post a playground link (https://mozilla-services.github.io/react-jsonschema-form) demonstrating the issue? That will help us get to the problem faster.

[2019-03-28 13:09] epicfaace commented on #1217
@kalyan542 Can you please post a playground link (https://mozilla-services.github.io/react-jsonschema-form) demonstrating the issue? That will help us get to the problem faster.

[2019-03-28 13:11] epicfaace commented on #1181
Closing this issue, but feel free to repoen it if you have any additional questions!

[2019-03-28 13:11] #1181 closed

[2019-03-28 13:12] epicfaace commented on #196
@n1k0 is this still a problem?

[2019-03-28 13:13] epicfaace commented on #327
Closing this issue due to inactivity, but feel free to repoen it if you have any additional questions!

[2019-03-28 13:13] #327 closed

[2019-03-28 13:14] epicfaace commented on #159
Closing this issue, but feel free to reopen it if you have any additional questions!

[2019-03-28 13:14] #159 closed

[2019-03-28 13:17] epicfaace commented on #465
Closing this in favor of #675

[2019-03-28 13:17] #465 closed

[2019-03-28 13:18] epicfaace commented on #331
Closing this in favor of #675

[2019-03-28 13:18] #331 closed

[2019-03-28 13:36] epicfaace commented on #555
Closing this in favor of #899.

[2019-03-28 13:36] #555 closed

[2019-03-28 13:36] travisdahl commented on #52
@lucianBuzzo thats exactly what I ended up doing in my project to get around it.

[2019-03-28 14:20] oterral commented on #1233
@epicfaace sorry to bother you with this. When is the next release planned ?

[2019-03-28 14:20] jobchong opened #1244 "Keys with the same name in different `anyOf` options break the form"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-03-28 14:22] jobchong commented on #1244
I'm wondering if this issue is what [this particular FAQ](https://react-jsonschema-form.readthedocs.io/en/latest/#q-does-rjsf-support-oneof-anyof-multiple-types-in-an-array-etc) is referring to.

[2019-03-28 17:42] kenisteward commented on #828
@epicfaace I'm kinda piggy backing onto this but is there a current way to put arbitrary sections with said fields into it?

e.g.  from the example I'd want to make a FirstName section with husband and wife first names and a LastName section with husband and wife last name.

I thought i had found an issue that referred to doing something like that but I can't find it.

[2019-03-28 17:53] epicfaace commented on #828
@kenisteward there currently isn't a way to do that, unless either 1) you use a custom ObjectFieldTemplate or 2) the data schema itself looks like:
[code]

[2019-03-28 17:56] epicfaace commented on #1233
@oterral Likely next week. For now, you could just do `npm install -S git+https://github.com/mozilla-services/react-jsonschema-form.git#0f4889c22457edeb57991f48a88d8d32b2a93ca7` to get the changes from the latest commit.

[2019-03-29 17:03] kalyan542 commented on #1217
Please see this below example.
https://jsfiddle.net/x598Lnvj/

[2019-03-29 17:34] kalyan542 commented on #1217
Added jsfiddle playground link

[2019-03-29 21:45] epicfaace commented on #1217
@kalyan542 What are you expecting? When I select "CMC" I get the following fields, which seems to accord with what the schema describes:

![image](https://user-images.githubusercontent.com/1689183/55264355-6b22a180-524a-11e9-8f00-9ac06383de9a.png)

[2019-03-29 22:42] kalyan542 commented on #1217
only show **name** and **age** fields If i select CMC in Select box B
only show **id** and **enable** fields If i select NORMAL in Select box B

[2019-03-31 01:15] epicfaace commented on #1217
@kalyan542 Does this schema work for you? https://jsfiddle.net/jhocLqvb/

[2019-03-31 21:26] epicfaace commented on #1241
I think the two you enumerated are the main things that would need to be changed.

Some things to consider:
- What if a user enters `{default: "value1", const: "value2"}`? I'm thinking that the default value should be set to value1, not value2.
- readonly vs disabled: I'm thinking it makes most sense to use readonly, not disabled? Looking at [this explanation](https://stackoverflow.com/a/7730719),

[2019-03-31 21:47] epicfaace commented on #1176
@adrianriddle Thanks for isolating the issue. Would you be able to make a PR to fix this?

[2019-03-31 21:49] epicfaace commented on #1243
Thanks for reporting. [Link to playground example](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJhZ2UiOiIyMSIsImlkQ29kZSI6ImEifSwic2NoZW1hIjp7InR5cGUiOiJvYmplY3QiLCJwcm9wZXJ0aWVzIjp7ImFnZSI6eyJ0eXBlIjoic3RyaW5nIiwidGl0bGUiOiJBZ2UiLCJwYXR0ZXJuIjoiMSJ9LCJpdGVtcyI6eyJ0eXBlIjoiYXJyYXkiLCJpdGVtcyI6eyJ0eXBlIjoib2JqZWN0IiwiYW55T2YiOlt7InByb3BlcnRpZXMiOnsiZm9vIjp7InR5cGUiOiJ

[2019-03-31 21:54] epicfaace commented on #1244
I don't think this issue is solely caused by two keys having the same name. [This schema](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJpdGVtcyI6W3siYmFyIjoic2Rmc2RmIn1dLCJpZENvZGUiOiJiYXIifSwic2NoZW1hIjp7InR5cGUiOiJvYmplY3QiLCJwcm9wZXJ0aWVzIjp7ImFnZSI6eyJ0eXBlIjoiaW50ZWdlciIsInRpdGxlIjoiQWdlIn0sIml0ZW1zIjp7InR5cGUiOiJhcnJheSIsIml0ZW1zIjp7InR5cGUiOiJvYmplY3QiLCJhbnlP

[2019-03-31 21:57] epicfaace commented on #823
Closing this now that #814 has been merged.

[2019-03-31 21:57] #823 closed

[2019-03-31 21:58] epicfaace commented on #1236
Good point -- for now you could work around this by making a custom widget.

[2019-03-31 21:59] epicfaace commented on #1244
Looks like the issue that the FAQ is referring to is actually ##1204

[2019-03-31 22:22] epicfaace commented on #701
Revisiting this ... it seems like one big advantage of combining the uiSchema and schema into a single object would be that the class names / widgets / etc. can be conditionally modified based on dependencies / anyOf / oneOf. Right now there is no way to do that unless one makes custom widgets. See #1236 and #1206.

This point wasn't brought up in the earlier discussion in this issue, so I'd love

[2019-04-01 00:04] handrews commented on #701
@epicfaace this sort of thing is exactly why we are making it easier to extend schemas with recognizable keywords in the next (yes, I know, long-delayed but it is getting close) draft of JSON Schema.  We have also formalized how different sorts of keywords interact.

I suspect most if not all of your uiSchema keywords would be considered annotations- data that is attached to a JSON instance if it

[2019-04-01 08:46] LucianBuzzo commented on #701
@handrews That sounds really interesting, Is there a place we can see an in progress version of this draft?

[2019-04-01 12:31] MatveyNeyman commented on #1236
That's what I said -- I put check for null/undefined value in the custom widget and render null if this is true. The only problem is this is not properly handled, and I got empty field's wrapper div in the html tree.

[2019-04-01 15:19] a-b-r-o-w-n commented on #1241
@epicfaace

IMO, the default should be set to the const because the form would be invalid if using an incorrect default field. A readonly field makes sense to me. I think in the case of the single enum field, I would expect the form to render a dropdown with 1 element even though a const might be the same thing. In my own usage, we sometimes populate the enum dynamically and it could only have 1 e

[2019-04-01 16:39] qcho commented on #701
@epicfaace I think the point was always there. I agree one of the best advantages of allowing this kind of inline metadata is to avoid complex (unneeded) mapping between the two specs.

Quoting myself earlier:

`conditions, flow control, etc (specially over the last drafts)` means things like
`That would be the mechanism for leveraging dependencies/anyOf/if etc.`

Also i think the spec as proposed

[2019-04-01 16:43] handrews commented on #701
@LucianBuzzo it's what's checked into master at the [json-schema-spec](https://github.com/json-schema-org/json-schema-spec) project (you can build an HTML version if you install the xml2rfc python package (see the [.travis.yml](https://github.com/json-schema-org/json-schema-spec/blob/master/.travis.yml) file for exact version to install).

In the next couple of weeks we should post a rendered vers

[2019-04-01 18:46] kalyan542 commented on #1217
**B** select box has to show after **A** select box. if i add  uiSchema={uiSchema} for fields order getting this error "Invalid root object field configuration:uiSchema order list contains extraneous property 'B'."

[2019-04-01 23:17] epicfaace commented on #1217
That error should not come in the latest playground version, since #814 was merged: [Playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJBIjp7IkEiOiJvcHRpb24xIiwiQiI6IkNNQyJ9fSwic2NoZW1hIjp7InR5cGUiOiJvYmplY3QiLCJwcm9wZXJ0aWVzIjp7IkEiOnsidGl0bGUiOiJBIiwiJHJlZiI6IiMvZGVmaW5pdGlvbnMvQSJ9fSwiZGVmaW5pdGlvbnMiOnsibmFtZSI6eyJ0eXBlIjoic3RyaW5nIiwidGl0bGUiOiJOQU1F

[2019-04-03 11:50] jobchong commented on #1244
An option for an `anyOf` may be a superset of the other option, and both options belonging to the same type. For example:

[code]

So to provide personal information to a form, a user may either choose to share his/her driver's license or passport number. We assume that if the user provides a driver's license number, he/she is domestic, but if a passport number is provided, we need the country whe

[2019-04-03 17:27] epicfaace commented on #1244
[Reproducible example of what you're referring to](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJjb3VudHJ5IjoiZGYiLCJpZHR5cGUiOiJzZGYifSwic2NoZW1hIjp7InR5cGUiOiJvYmplY3QiLCJwcm9wZXJ0aWVzIjp7ImFnZSI6eyJ0eXBlIjoiaW50ZWdlciIsInRpdGxlIjoiQWdlIn0sIml0ZW1zIjp7InR5cGUiOiJhcnJheSIsIml0ZW1zIjp7InR5cGUiOiJvYmplY3QiLCJhbnlPZiI6W3sicHJvcGVydGllcyI6eyJmb28iOnsidHlwZSI6InN0cmluZyJ

[2019-04-04 19:04] glasserc commented on #1221
No, we don't generate the schema "live", although we should support it (similar to how the playground works). On https://github.com/Kinto/kinto-admin/ we allow people to just paste in a JSON schema, but the page where you enter the schema is different from the page where you get a form.

I'm a bit confused about the error message you got. Can you please post a JSFiddle or a playground link?

[2019-04-04 19:05] glasserc commented on #1221
Ah, never mind -- I guess it's just rendering the array using `.toString()`. Yeah, we don't support array `type` yet, but we might be able to using `oneOf`.

[2019-04-05 13:48] mtm-mouadh opened #1247 "Star Rating field"
### Prerequisites

- [+] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description
I want add Star Rating field in form. So do we have any example or schema details for same?

[2019-04-05 14:38] flavio-dev commented on #899
same as @PhilipK2 : latest bootsrap has dropped glyphicon icon font. so the buttons for arrays are not being displayed properly.

https://getbootstrap.com/docs/4.3/migration/#components

[2019-04-05 15:27] epicfaace commented on #1247
I would make a field of type number with enum, such as:

[code]

And then create a custom widget for it.

[2019-04-05 16:06] mishaschwartz commented on #1229
I am also running into this issue, though I noticed that the playground link you shared seems to be failing for other reasons to do with the reference.
Here is an updated version that doesn't use references that still demonstrates the bug:

[playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6e30sInNjaGVtYSI6eyJ0eXBlIjoib2JqZWN0Iiwib25lT2YiOlt7InRpdGxlIjoiQmF

[2019-04-05 17:18] #1219 closed

[2019-04-07 14:17] dzg opened #1249 "[Help wanted] Dynamically change options of field based on input"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

I'm fairly new to React, and trying to re-write a complex from from `alpaca.js`

What is the basic method of 'populating' one field based on the user input of another field?
Say user chooses an option from a select, I want that choice to call ajax and populate the options of another field with

[2019-04-08 11:16] mklokocka opened #1250 "additionalProperties form - enum for key"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description

Would it be possible to add a feature that would enable the user to set a given set of all possible keys of `additionalProperties`?

At the moment, I validate the keys with `propertyNames` which works, but it would be much cleaner for the user to have it set as an enum.

####

[2019-04-09 07:58] ketysek commented on #1159
Confirming, update to 1.3.0 broked my own field templates, so I reverted back to 1.1.0

[2019-04-09 15:33] flavio-dev commented on #899
managed to make it work by importing some extra css as per answer here: https://stackoverflow.com/questions/32612690/bootstrap-4-glyphicons-migration

Also realised that the bootstrap 4 changed classes from array-item-list to list-group and array-item to list-group-item. So same stuff really, any chance to update that?

[2019-04-09 17:57] epicfaace commented on #1159
Hmm you are right. @ketysek @mlbstrm would any of you be willing to contribute a fix?

[2019-04-09 23:44] dfornika commented on #960
Hi @donatoaz does your fork of rjsf still exist? I'm interested in a similar application.

[2019-04-10 08:49] davidb-e4s opened #1252 "ReferenceError: File is not defined at isObject v1.4.0"
### Prerequisites

- [ x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.

[2019-04-10 16:06] mtm-mouadh commented on #1247
But how can I do this ? According to the existing doc , when you custom a widget, all widgets in the form will be changed

[2019-04-10 21:32] paintedbicycle commented on #1252
I'm too am getting this everywhere in my app after updating to 1.40

[2019-04-11 01:55] epicfaace commented on #1252
Hmm, so this seems to be happening in a node js environment, not the browser, is that right?

[2019-04-11 06:59] paintedbicycle commented on #1252
You might be correct. I first noticed the Errors in my cloud function console (which runs node as the environment). So it's happening there.

I finally saw it in the browser and had to downgrade. However the browser error might have been caused by a crash in the node server powering the site (i.e. it might have been a server crash screen).

[2019-04-11 07:38] davidb-e4s commented on #1252
I've not seen it in my pure react app so it could be when running on node. Using NodeJs10. Happens on both my local machine and when deployed to Google App Engine.

[2019-04-12 15:43] #1252 closed

[2019-04-12 22:39] epicfaace commented on #1247
@mtm-mouadh no, you can use the `ui:widget` property to make your own widget; you don't have to override the default widgets.

See: https://react-jsonschema-form.readthedocs.io/en/latest/advanced-customization/#custom-widget-components

[2019-04-13 11:27] mtm-mouadh commented on #1247
Thanks brother for help, I have succeeded in doing and I have use a library ant.design
<img src="https://i.ibb.co/DbZVpV1/thnks.jpg" width="200" height="400" />

[2019-04-13 15:55] epicfaace commented on #1247
Great, let me know if you have any other issues.

[2019-04-13 15:55] #1247 closed

[2019-04-16 06:40] swordsreversed opened #1254 "Add a select example"
### Prerequisites

- [] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io/re

[2019-04-16 17:10] nitishdhar opened #1255 "Enable $data reference usage for AJV validation"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description
Looking at the docs for [AJV](https://github.com/epoberezkin/ajv#data-reference), it enables us to write validation rules using `$data` reference to an existing schema field's value, like

[code]

But the default [setup](https://github.com/mozilla-services/react-jsonschema-form

[2019-04-16 22:55] epicfaace commented on #1255
I'm open to enabling this! This library was initially created without AJV, so not all the possible features of AJV were enabled by default. Please make a PR and I'll take a look.

[2019-04-16 23:12] epicfaace commented on #1254
Hmm, it is covered here (https://react-jsonschema-form.readthedocs.io/en/latest/form-customization/#custom-labels-for-enum-fields), but perhaps it's not very easily navigable.

I'd be glad to merge a PR that adds an example of this to the docs/playground!

[2019-04-16 23:46] swordsreversed commented on #1254
Exactly what i mean. I've never referred to a select as an enum field, maybe it's common parlance elsewhere?

https://www.google.com/search?biw=1370&bih=766&ei=n2i2XNiZIMbprQG_75uIBA&q=enum+fields+forms

Maybe not?

I'll put together an example for the docs :)

[2019-04-16 23:47] #1254 closed

[2019-04-16 23:51] justtonytone commented on #1200
thanks @epicfaace, i've included a pr here: https://github.com/mozilla-services/react-jsonschema-form/pull/1256

[2019-04-17 00:24] swordsreversed commented on #1254
https://github.com/mozilla-services/react-jsonschema-form/pull/1257

[2019-04-17 02:48] nitishdhar commented on #1255
Thanks.

I will start working on a PR to enable `$data` reference.

Meanwhile, can you also share your thoughts on adding a new dependency to [ajv-keywords.](https://github.com/epoberezkin/ajv-keywords)

This will enable the proposed keywords `switch, patternRequired, formatMaximum / formatMinimum and formatExclusiveMaximum / formatExclusiveMinimum` from `JSON Schema extension proposals` allowing

[2019-04-17 04:14] epicfaace commented on #1255
Great, thanks!

Hmm, I'd be wary of adding in keywords that are not yet part of the JSON schema specification. For example, the ajv-keywords repository mentions that switch is deprecated and they suggest using if/then/else, which is part of the spec instead.

I'd be open to adding in functionality that is part of the JSON schema spec such as if/then/else (see #885 and #996), but otherwise it might

[2019-04-17 14:47] fsteger opened #1258 "Default array not populated when minItems present"
### Prerequisites

- [X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [X] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-04-17 15:48] epicfaace commented on #1258
This may be related to #1026 and perhaps a fix for this might fix that one too.

It looks like you're on the right track! Feel free to make a PR fixing this.

[2019-04-17 18:14] glasserc commented on #1250
How would this work from a JSON Schema perspective? `additionalProperties` doesn't really have any way to express restrictions on the property names. `propertyNames` does, but it doesn't just affect properties that are validated against `additionalProperties`; it also affects those that fall under `properties` or `patternProperties`.

[2019-04-17 18:25] glasserc commented on #1254
`enum` is the name of a [validation keyword](http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.1.2) in the JSON Schema spec. Conceptualizing it as "a way to render a `<select>` makes me think you probably do not want/need something like react-jsonschema-form which is capable of rendering a form for an arbitrary schema. Instead it sounds like you want to design a single specif

[2019-04-17 20:51] bmschmidt commented on #1250
Not the OP, but as it happened was just googling for almost this same issue. My expected behavior was that, when there is a constraint on property names, the interface elements will use dropdowns for the keys to any additionalProperties.

For example, in the following schema, when you add another property to the array with a plus button, the values of the properties give you a dropdown to choose f

[2019-04-18 07:41] swordsreversed commented on #1254
So I am using json to render out a form in react.  I adapted this form to your schema:

[code]

Interestingly [jsonforms.io](https://jsonforms.io) have an example right on their front page using json schema on a select without unnecessarily obscuring the issue, so i'll be switching to them. Cheers for the heads up.

[2019-04-18 23:06] travisdahl commented on #433
Has anyone had any updates on this, in our use case we need to maintain the trailing 0s.

But like mentioned above

that seems like a bug.

[2019-04-19 21:12] NuruddinBadawi opened #1260 "I get error when I use file type."
### Description
I follow the documentation, to add single file input,
I get this error

"Uncaught DOMException: Failed to execute 'atob' on 'Window': The string to be decoded is not correctly encoded."

![Screen Shot 2019-04-20 at 12 11 53 AM](https://user-images.githubusercontent.com/5736522/56444336-eedb2580-6300-11e9-9ad2-279db23ec14d.png)

[code]

[2019-04-20 05:47] MatinF opened #1261 "Add button for duplicating a row in an array"
**Description**
Arrays currently support buttons for adding/moving/deleting a row.

However, often it would be very useful to have a button for duplicating a row. The reason is that the array system is often used to create several semi-similar rows. The duplication button would save massive time for users.

I couldn't find prior discussions of this, but would be happy to hear your thoughts.

Marti

[2019-04-23 15:43] mklokocka commented on #1250
@bmschmidt This is exactly something I had in mind.

[2019-04-23 18:56] mravenash commented on #546
is there a sandbox for this? It will be helpful.

[2019-04-23 19:06] CodeGains commented on #1201
Ran into this problem too. Instead of calling `onChange` when it mounts, which is behavior that users would not expect, would it suffice to just recalculate the state in `onSubmit` like in `onChange`, call `setState`, and then return the new state in `onSubmit`?

[2019-04-23 22:32] epicfaace commented on #433
@travisdahl I believe this was solved in #1183 and is included in the latest release.

[2019-04-23 23:08] travisdahl commented on #433
@epicfaace my bad, we upgraded and saw the fix. It still drops the zeros but besides that it seems to be working

[2019-04-24 08:56] Fronix commented on #1236
I'd also like a better solution to this. Currently creating my own widget isn't proving very good since we rely on generating forms completely from the schema. A "Hide if a field has value or is true" would be nice.

[2019-04-24 12:24] ketysek opened #1263 "Tons of unnecessary validation errors when schema contains dependencies"
### Description

The validation behaviour is weird when you've got form schema with dependencies. For example try the one below, fill all the fields except password in postgresql part and try to submit it (with turned off html5 validation):

[code]

It will throw a ton of errors which may be confusing to user.

And it also counts hidden biqguery fields to errors.

#### Expected behavior

I think i

[2019-04-24 12:35] elieux commented on #463
This looks like a good workaround.

[code]

[2019-04-24 12:54] elieux commented on #822
This is a React thing, see [Uncontrolled Components](https://reactjs.org/docs/uncontrolled-components.html#the-file-input-tag).  React is unable to change the value of `<input type=file />`.  Combined with DOM reuse, it means the value is stuck in place until the input is re-rendered (e.g. by removing all rows and then adding a new one).  IMO it would be more obvious if React tried to at least res

[2019-04-24 13:05] epicfaace commented on #1250
@bmschmidt that behavior makes sense -- would you be able to make a PR implementing this?

[2019-04-24 13:20] epicfaace commented on #546
@mravenash yes, see https://react-jsonschema-form.readthedocs.io/en/latest/#tips-and-tricks

[2019-04-24 17:07] domharrington opened #1265 "Default type to `object` if undefined"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-04-24 19:24] MatinF commented on #1261
Having looked a bit further into this, it seems this would potentially be doable via an Array Field Template: https://github.com/mozilla-services/react-jsonschema-form/blob/master/docs/advanced-customization.md - any of you know examples where a similar thing has been done?

[2019-04-25 14:56] bmschmidt commented on #1250
Sorry, afraid I can't help--I don't know anything about React. (I actually am using React for the first time just for this library.)

[2019-04-25 16:37] epicfaace commented on #1236
Yes, this would be solved by doing #701 or #1206

[2019-04-25 19:57] GuyPaddock commented on #961
Yes. Yes it should. From [the spec](https://json-schema.org/latest/json-schema-validation.html#rfc.section.7.1) (emphasis mine):

[2019-04-26 02:14] GuyPaddock opened #1267 "`type` specified at top-level of anyOf/oneOf leads to duplicate form elements"
### Prerequisites
- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io/

[2019-04-26 07:16] glompix opened #1268 "ui:emptyValue=null does not work with number inputs"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-04-26 14:33] GuyPaddock commented on #961
Forgot to add a mention for @epicfaace.

[2019-04-27 12:57] trish123 opened #1270 "Schema in multiple files"
Is there a way to refer the schema arranged across multiple files?
for example , "myobject" property is defined in another file.
"properties": {
      "myobject": {
        "$ref": "definitions.json#my_object"
      }
}
Or do I need to manually combine the schema?

[2019-04-30 16:18] fsteger opened #1271 "Allow default values to be ignored"
### Prerequisites

- [X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-04-30 22:37] f0rr0 commented on #1046
any updates on this? anything could be used to generate a unique id but it needs to be persisted outside of formState. I have been unable to figure out where that should be on reading the code. it seems like formState is the only source of truth for rendering an array

[2019-05-03 02:07] Eric24 opened #1273 "Add support for "autocomplete" at the field level"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description

Add support for `autocomplete` at the field level.

### Steps to Reproduce

1. Something like `"ui:autocomplete": true|false`

#### Expected behavior

Add the `autocomplete` attribute (converting true|false to "on|off") to the `<input>` element. It appears to be a well-support

[2019-05-03 07:42] sbusch opened #1274 "Specifying a meta schema in $schema forces validation error: no schema with key or ref "http://json-schema.org/draft-06/schema#""
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-05-03 07:50] sbusch commented on #1274
Interestingly, a workaround is to add an `$id` referencing the same schema:

[code]

[Example on RJSF playground](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJmaXJzdE5hbWUiOiJDaHVjayIsImxhc3ROYW1lIjoiTm9ycmlzIiwiYWdlIjo3NSwiYmlvIjoiUm91bmRob3VzZSBraWNraW5nIGFzc2VzIHNpbmNlIDE5NDAiLCJwYXNzd29yZCI6Im5vbmVlZCJ9LCJzY2hlbWEiOnsiJHNjaGVtYSI6Imh0dHA6Ly9qc29uLXNjaGVtYS5vcmcv

[2019-05-03 08:55] sbusch commented on #1274
Ok, got it, I had to define a [Custom schema validation](https://github.com/mozilla-services/react-jsonschema-form/blob/master/docs/validation.md#custom-schema-validation):

    To have your schemas validated against any other meta schema than
    draft-07 (the current version of [JSON Schema](http://json-schema.org/)),
    make sure your schema has a `$schema` attribute that enables the validator

[2019-05-03 13:03] sbusch opened #1275 "Requiring React 16"
I'm working on a PR on `react-jsonschema-form` for passing an Ajv instance from outside (allowing custom keywords etc.), and I need to use the Context API which has been introduced in [React 16.3](https://reactjs.org/blog/2018/03/29/react-v-16-3.html).

Even better would be availability of `contextType` for React class components, introduced in [React 16.6](https://reactjs.org/blog/2018/10/23/reac

[2019-05-03 18:02] epicfaace commented on #1275
Would bumping up the React version cause incompatibility with earlier React versions?

[2019-05-05 08:08] Shomeis-Eskandari opened #1276 "JSON schema editor"
### Description
I want to create an **JSON schema editor**

### Steps to Reproduce
1. create app (code) :
[code]

2. run app

#### Expected behavior

Making the json schema editor form
similer [JSON Schema Editor](https://json-schema-editor.tangramjs.com/editor.html#/)

#### Actual behavior

get error on browser:
[code]

[2019-05-05 11:33] snirp commented on #712
Why was this closed without further comment? Has this been answered elsewhere?

[2019-05-06 05:40] sbusch commented on #1275
If we're using newer API features like Context API as intended, yes. But there's a workaround that doesn't require bumping up the React version:

In my case, I'll use [mini-create-react-context](https://github.com/StringEpsilon/mini-create-react-context) as a ponyfill. It supports React "^0.14.0 || ^15.0.0 || ^16.0.0" as its peer dependency. I think using that package is also perfectly acceptable

[2019-05-06 10:30] sbusch commented on #712
I think that was closed by author because of a double post, see continued discussion at <https://github.com/mozilla-services/react-jsonschema-form/issues/713>

[2019-05-06 21:29] epicfaace commented on #713
Closing this issue due to inactivity, but feel free to reopen it if you have any additional questions!

[2019-05-06 21:29] #713 closed

[2019-05-07 03:58] epicfaace commented on #1260
Could be related to https://github.com/netlify/gotrue-js/issues/13

@NuruddinBadawi can you link to an example on jsfiddle or codepen in which this is happening? Thanks!

[2019-05-07 03:59] epicfaace commented on #1249
@dzg can you provide an example on jsfiddle of what you're trying to do?

Your method should work; perhaps the schema is set in the state and you might need to call `setState` to actually change the schema. It would be best to see a code example though.

[2019-05-07 04:00] #1232 closed

[2019-05-07 04:03] epicfaace commented on #1263
[Playground example](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJwYXJhbWV0ZXJzIjp7ImJsYSI6e30sImNkbSI6eyJhY3RpdmUiOiJwb3N0Z3Jlc3FsIn19fSwic2NoZW1hIjp7InR5cGUiOiJvYmplY3QiLCJwcm9wZXJ0aWVzIjp7InBhcmFtZXRlcnMiOnsidHlwZSI6Im9iamVjdCIsInRpdGxlIjoiUGFyYW1ldGVycyIsInByb3BlcnRpZXMiOnsiYmxhIjp7InR5cGUiOiJvYmplY3QiLCJ0aXRsZSI6IkJMQSBjcmVkZW50aWFscyIsInByb3BlcnRpZXMiOnsidXJsI

[2019-05-07 04:09] epicfaace commented on #1265
Yes, I believe that makes sense.

Why would you make the default type `object` when undefined? Wouldn't it be enough just to make the type default to `object` _only_ if a `properties` keyword is defined as well?

[2019-05-07 06:57] bwl21 opened #1278 "cannot find a simple example running in the browser"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-05-07 07:30] ketysek commented on #1263
Well, look at the following form, I haven't filled password only and it shows me that:

1. PostgreSQL is not allowed value in selectbox (huh?)
2. There're 9 validation errors because it also marks as error all unfilled inputs in second bigQuery schema.

I don't agree it's right behaviour.

<img width="350" alt="Screenshot 2019-05-07 at 09 25 31" src="https://user-images.githubusercontent.com/11921

[2019-05-07 13:52] epicfaace commented on #1278
You can't use `require` in the browser unless you bundle your code using webpack. To make your example work, try:

[code]

[2019-05-07 13:56] epicfaace commented on #1263
1. I don't see that error in the playground; can you send a link to the exact code/webpage in which this error occurs?
2. The default behavior of rjsf is to show all validation errors. If you need to you can filter the errors using `transformErrors`, or perhaps implementing a PR to solve https://github.com/mozilla-services/react-jsonschema-form/issues/512 will fix this.

[2019-05-07 14:00] #961 closed

[2019-05-07 14:01] #1268 closed

[2019-05-07 14:14] ketysek commented on #1263
1. You can reproduce it also in playground, just place the schema from first post, add following formdata and turn off html5 validation via form `novalidate` attribute.
[code]

[2019-05-07 16:21] munybt commented on #1182
I'm having the same issue, are there any news on this?

[2019-05-07 17:33] munybt commented on #1182
I think I figured it out.
I solved the issue by replacing
`
    { ...refSchema , ...$localSchema},
`
by
`
    { ...localSchema, ...$refSchema },
`

on utils.js line 49 (return statement of the `function resolveReference(schema, definitions, formData)`)

I don't know if this fix is going to break any other features, but it is working for me by now

[2019-05-07 21:07] domharrington commented on #1265
Yeah that would also work, though you'd then also have to check for `additionalProperties` as well. Any other edge cases you can think of?

[2019-05-08 16:00] epicfaace commented on #1265
I think that's it!

[2019-05-09 17:49] james-gc commented on #1093
@doncesarts, I also think, this feature doesn't needed.
We can directly pass `children`, the way we want. Why do we need this feature?

[2019-05-09 18:10] james-gc commented on #906
@epicfaace this feature is done in my PR with  [commit](https://github.com/mozilla-services/react-jsonschema-form/pull/1262/commits/e05a53da042030cd9705376b090cf80c06efe0f7)

[2019-05-10 03:53] epicfaace commented on #906
@james-gc thanks for your PR! Do you mind putting those changes for ui:autocomplete in a separate PR? That will help us to approve it faster!

[2019-05-10 23:51] epicfaace commented on #1273
Thanks for reporting -- this is a duplicate of #906 so let's continue the discussion there.

[2019-05-10 23:51] #1273 closed

[2019-05-10 23:51] epicfaace commented on #1270
Right now, you cannot do that -- you must manually combine the schemas using a script.

[2019-05-10 23:51] #1270 closed

[2019-05-10 23:52] epicfaace commented on #1271
Good idea -- what do you think this option might be called?

[2019-05-10 23:53] epicfaace commented on #1274
@sbusch I didn't realize #1130 was a breaking change -- what part of it would you say makes it a breaking change?

[2019-05-11 04:22] epicfaace commented on #1093
@james-gc this feature would just be useful as a convenience, if the user doesn't want to override the entire submit button but just wants to change the text.

[2019-05-12 23:16] mirajp opened #1281 "Checkboxes array value changes do not correctly update Form UI (selection)"
### Prerequisites

- [X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [X] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [X] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-05-14 18:25] #976 closed

[2019-05-15 15:23] bdgeise commented on #1173
Any possible workarounds here?  I'm having a similar issue where we need to nest a oneOf to an unknown degree.  Our use case is similar to below where the field structure can be deeply nested.

`"value": [
            {
              "value": "field1",
              "alias": "my_field1_alias"
            },
            {
              "value": [
                {
                  "value": "field2

[2019-05-15 15:34] LucianBuzzo commented on #1173
@bdgeise Would you be able to provide an example of what you are trying to achieve using either the live playground or https://codesandbox.io/ ?

[2019-05-15 15:37] bdgeise commented on #1173
@LucianBuzzo - Definitely.
https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJ2YWx1ZSI6W119LCJzY2hlbWEiOnsiZGVmaW5pdGlvbnMiOnsiZmllbGRFaXRoZXIiOnsidHlwZSI6Im9iamVjdCIsIm9uZU9mIjpbeyJ0eXBlIjoib2JqZWN0IiwicHJvcGVydGllcyI6eyJ2YWx1ZSI6eyJ0eXBlIjoic3RyaW5nIn0sImFsaWFzIjp7InR5cGUiOiJzdHJpbmcifX19LHsidHlwZSI6Im9iamVjdCIsInByb3BlcnRpZXMiOnsidmFsdWUiOnsidHlwZSI6ImFycmF5IiwiaXRlbXM

[2019-05-15 15:48] LucianBuzzo commented on #1173
@bdgeise Thanks for the clear examples, I'll dig into this soon

[2019-05-16 00:53] bdgeise commented on #1173
Thanks @LucianBuzzo - I found this error is thrown when trying the 2nd option `bundle.js:22 Uncaught TypeError: o.map is not a function
    at t.value (bundle.js:22)
    at t.value (bundle.js:22)
    at l._renderValidatedComponentWithoutOwnerOrContext (bundle.js:20)
    at l._renderValidatedComponent (bundle.js:20)
    at l.performInitialMount (bundle.js:20)
    at l.mountComponent (bundle.js:20)

[2019-05-17 00:23] bdgeise commented on #1173
@LucianBuzzo - I believe the UI for generating the form is actually working correctly.  See https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJ2YWx1ZSI6W3sidmFsdWUiOiJ0ZXN0IiwiYWxpYXMiOiJ0ZXN0In0sbnVsbF19LCJzY2hlbWEiOnsiZGVmaW5pdGlvbnMiOnsiZmllbGQiOnsidHlwZSI6Im9iamVjdCIsInByb3BlcnRpZXMiOnsidmFsdWUiOnsidHlwZSI6InN0cmluZyJ9LCJhbGlhcyI6eyJ0eXBlIjoic3RyaW5nIn19fSwiZmllbGRFaX

[2019-05-17 20:13] fsteger commented on #1271
ignoreDefaults

[2019-05-19 19:41] #1173 closed

[2019-05-19 19:42] epicfaace commented on #1271
ignoreDefaults intuitively sounds like it might ignore default values for _all_ cases, though, even for a new submission.

[2019-05-19 19:44] epicfaace commented on #1271
Repro of this issue: https://jsfiddle.net/8dm6t3ns/

[2019-05-20 12:16] bdgeise opened #1288 "Form switches to different option when using oneOf"
### Prerequisites

- [x ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github

[2019-05-21 06:05] sbusch commented on #1275
Closed (for new), for #1286 I use the ponyfill mentioned above. Due to the lack of contextType support, the code is slightly more verbose than necessary, but I managed to restrict the changes in this regard, see `render/renderWithContext` wrapper for class-based components:

* original `render` renamed to `renderWithContext`
* new `render` is just a wrapper that gets the context and calls `renderW

[2019-05-21 14:27] an-aessid opened #1290 "Question: how are errors sorted?"
### Description

I am trying to show a list of errors in the same order in which they appear in the form.
In our application the schemas are sent by a backend, so the returned jsonschema can differ in structure, due to the nature of json. This results in an order of error messages which is for the most part pretty random.
My guess is that the errors are ordered based on the order of the properties

[2019-05-22 11:02] MatinF opened #1293 "Issue with default values in anyOf/oneOf dependencies [PG example included]"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-05-22 11:03] MatinF commented on #975
@epicfaace I've now added this as a new issue with an example as requested:
https://github.com/mozilla-services/react-jsonschema-form/issues/1293

[2019-05-22 16:10] abhishekpdubey opened #1295 "Duplicate error messages are shown inline when anyOf is used"
While studying the features offered by this library on [Live play ground](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJjdXJyZW50Q29sb3IiOiIjMDBmZjAwIiwiY29sb3JNYXNrIjpbIiMwMDAwZmYiXSwiY29sb3JQYWxldHRlIjpbbnVsbF0sImJsZW5kTW9kZSI6InNjcmVlbiJ9LCJzY2hlbWEiOnsiZGVmaW5pdGlvbnMiOnsiQ29sb3IiOnsidGl0bGUiOiJDb2xvciIsInR5cGUiOiJzdHJpbmciLCJhbnlPZiI6W3sidHlwZSI6InN0cmluZyIsImVu

[2019-05-22 18:00] abhishekpdubey commented on #1041
I have similar issue with the enums. Here is the playground [link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJpc0FjdGl2ZSI6dHJ1ZSwiX25hbWUiOiJTYW1wbGUgbmFtZS4ifSwic2NoZW1hIjp7InRpdGxlIjoiU2FtcGxlIGZvcm0iLCJkZXNjcmlwdGlvbiI6IkNyZWF0ZSBhIG5ldyBTYW1wbGUuIiwidHlwZSI6Im9iamVjdCIsInByb3BlcnRpZXMiOnsiaXNBY3RpdmUiOnsidHlwZSI6ImJvb2xlYW4iLCJ0aXRsZSI6IlN0YXR1cyIsImRlZmF1bHQ

[2019-05-23 16:21] abhishekpdubey opened #1296 "Enum with select widget does not add a blank option at the top"
### Prerequisites

- [ ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-05-24 00:05] #598 closed

[2019-05-24 00:24] epicfaace commented on #1258
[Reproducible playground example](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJtdWx0aXBsZUNob2ljZXNMaXN0IjpbXSwiZmlyc3ROYW1lIjoiQ2h1Y2sifSwic2NoZW1hIjp7InR5cGUiOiJvYmplY3QiLCJwcm9wZXJ0aWVzIjp7Im11bHRpcGxlQ2hvaWNlc0xpc3QiOnsidHlwZSI6ImFycmF5IiwidGl0bGUiOiJBIG11bHRpcGxlIGNob2ljZXMgbGlzdCIsIm1pbkl0ZW1zIjoxLCJkZWZhdWx0IjpbImZvbyIsInF1eCJdLCJpdGVtcyI6eyJ0eXBlIjoic3RyaW5n

[2019-05-24 01:14] epicfaace commented on #1275
It should probably be ok to upgrade to React 16, as you said anyway that it was released back in September 2017.

[2019-05-24 01:19] epicfaace commented on #1209
@anlesk I've tried reproducing this in a jsfiddle but I don't get any issue: https://jsfiddle.net/f0dxpot9/3/

Am I missing something in the code?

[2019-05-25 04:38] epicfaace commented on #1222
Now that #1226 has been merged, I'm thinking about what would be the best way to add new themes going forward. Of course, we will be able to use themes from external libraries as follows:

[code]

But might it be better if we include certain themes within the library itself? i.e.,

[code]

or even something like

[code]

I'm thinking that including these themes within the library will allow for th

[2019-05-25 04:44] epicfaace commented on #1290
@Gurkenschreck I'm not sure how exactly errors from JSON schema validation are ordered; it must be the same order from [ajv](https://github.com/epoberezkin/ajv). Given that JS objects don't really have a key order, though, I'm not sure if this order can be intuitively gotten from just looking at the schema. So, I think your proposal of ordering these errors based on ui:order makes sense.

[2019-05-25 04:46] epicfaace commented on #1295
Looks like a bug to me. Thanks for reporting.

[2019-05-25 04:47] epicfaace commented on #1260
Closing this issue for now, but if you have more info please feel free to comment.

[2019-05-25 04:47] #1260 closed

[2019-05-25 04:47] epicfaace commented on #1276
@Shomeis-Eskandari can you put the entire schema you are using here?

[2019-05-25 04:51] epicfaace commented on #1296
Related to #1041.

It looks like both ui:emptyValue and ui:placeholder are not working for your example, because the type is a boolean. So this may be a different (but related) bug to #1041.

[2019-05-25 04:55] epicfaace commented on #1230
Oh, I see -- this issue is that an ObjectFieldTemplate should have an onAddClick prop, in the case that there are additionalProperties defined for the object. This is definitely something that would be nice to have, but we don't have it yet in rjsf.

[2019-05-25 04:56] epicfaace commented on #1241
I agree -- makes sense, feel free to implement this in a PR.

[2019-05-25 04:57] epicfaace commented on #932
Closing due to inactivity.

[2019-05-25 04:57] #932 closed

[2019-05-25 04:58] epicfaace commented on #899
Closing this, let's move the discussion to https://github.com/mozilla-services/react-jsonschema-form/issues/1222

[2019-05-25 04:58] #899 closed

[2019-05-25 04:59] epicfaace commented on #904
Closing due to inactivity.

[2019-05-25 04:59] #904 closed

[2019-05-25 05:00] epicfaace commented on #762
This `fieldset` issue is pretty annoying. It would make sense to change `fieldset` to `div` elements when we release V2.

[2019-05-25 05:02] epicfaace commented on #446
Closing this in favor of #1197.

[2019-05-25 05:02] #446 closed

[2019-05-25 05:03] epicfaace commented on #313
Closing this issue due to inactivity.

[2019-05-25 05:03] #313 closed

[2019-05-25 05:03] epicfaace commented on #293
Closing this due to inactivity.

[2019-05-25 05:03] #293 closed

[2019-05-25 05:05] epicfaace commented on #760
@PaulB2Code can you clarify on what you mean by "create this form dynamically"?

[2019-05-25 05:06] epicfaace commented on #759
Please check out https://react-jsonschema-form.readthedocs.io/en/latest/validation/#custom-error-messages

[2019-05-25 05:06] #759 closed

[2019-05-25 05:06] epicfaace commented on #731
Closing due to inactivity

[2019-05-25 05:06] #731 closed

[2019-05-25 05:07] epicfaace commented on #720
Closing due to inactivity. I don't think we can change the behavior of `ui:field` at this point, but perhaps we can export the default label component so you could use it in your `ui:field` component.

[2019-05-25 05:07] #720 closed

[2019-05-25 05:08] epicfaace commented on #735
Closing due to inactivity

[2019-05-25 05:08] #735 closed

[2019-05-25 05:09] epicfaace commented on #770
Closing in favor of #512. Feel free to submit a PR to fix this.

[2019-05-25 05:09] #770 closed

[2019-05-25 05:09] #747 closed

[2019-05-25 05:12] epicfaace commented on #939
I think #1010 will solve this issue

[2019-05-25 05:12] #939 closed

[2019-05-25 05:13] epicfaace commented on #664
Closing due to inactivity, but if you have additional questions please feel free to open another issue.

[2019-05-25 05:13] #664 closed

[2019-05-25 05:13] epicfaace commented on #662
@rowdyroad can you elaborate on what exactly you mean?

[2019-05-25 05:15] epicfaace commented on #941
@doncesarts yes, makes sense, please feel free to make a PR with these changes

[2019-05-25 05:16] epicfaace commented on #934
Closing this due to inactivity, but if you have any more questions, please feel free to comment.

[2019-05-25 05:16] #934 closed

[2019-05-25 05:17] epicfaace commented on #755
Closing due to inactivity

[2019-05-25 05:17] #755 closed

[2019-05-25 05:17] epicfaace commented on #686
Closing due to inactivity

[2019-05-25 05:17] #686 closed

[2019-05-25 05:21] epicfaace commented on #957
It's also strange because

title is preferred over ui:title for [ObjectFieldTemplate](https://github.com/mozilla-services/react-jsonschema-form/blob/f9d4c63cac24146e522528d33eb04f465464e052/src/components/fields/ObjectField.js)

ui:title is preferred over title for [ArrayField](https://github.com/mozilla-services/react-jsonschema-form/blob/2d63594e075bba3b134ef09709c773a9ea037923/src/components/fi

[2019-05-25 14:24] Eric24 commented on #957
Just a few thoughts on this:
- While "title" is defined as a valid JSON Schema keyword (https://json-schema.org/understanding-json-schema/reference/generic.html), my interpretation is that it's meant to describe the schema, combined with "description", not necessarily something that should be displayed in a UI.
- In order to separate the data from the presentation layer, "ui:title" seems like a mo

[2019-05-25 23:59] Eric24 opened #1298 "Not possible to double-click in field using "updown" widget"
### Description

Fairly simple: A field with no specified widget allows you to double-click in the field to "select all" (as is fairly common), but when using the "updown" widget for numeric values, it is necessary to double-click directly on top of the displayed text.

### Steps to Reproduce

This can be seen on the playground "Number" page on any of the "updown" widget fields. Simply double-clic

[2019-05-26 04:33] epicfaace commented on #1298
Why should double-clicking on a range slider cause a "select all"? I'm wondering because the default behavior of the range field does not include a label -- for example, see https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_range

[2019-05-26 04:41] Eric24 commented on #1298
Sorry, I misread the playground ui-schema. It's the "updown" widget I'm referring to, not the "range" slider. I'll edit the issue accordingly.

[2019-05-26 20:49] TwoAbove commented on #1222
@epicfaace I think that a schema like

[code]

This way, thanks to tree shaking, in prod only the used theme remains, and you can keep all of them in one place + keep them easily updatable.

(also keeps good compatibility with typescript, but that's another thing :wink: )

[2019-05-26 21:29] jane88nausicaa commented on #1293
#default value does not work in oneOf

[2019-05-27 21:26] laspluviosillas commented on #1274
Not sure if this is related, but when trying to make this library work with AJV 6.7.0 (React 16.8.4)
importing "Form" from "react-jsonschema-form"; causes Webpack to fail compilation with the following error:

[2019-05-28 09:30] abhishekpdubey commented on #1296
Boolean is just an example, It happens with string values as well.

[2019-05-28 13:13] anlesk commented on #1209
@epicfaace aw, yeah. Seems that I've provided an incorrect input. This is only reproducible with widgets.

Check this one: https://jsfiddle.net/a4rqpj1d/9/

[2019-05-28 15:36] Gurkenschreck commented on #1290
I'll spend some time adding this functionality to this project.

* should it be part of `Form.js` as a function that orders the errors by uischema in `onSubmit` before passing it down to `this.props.onError`?
* should it be standard behaviour (or should there be a prop in the forms proptypes?)?

I'm adding a bunch of tests.

[2019-05-28 19:37] MatinF commented on #1293
This is also what we observe - but I assume this is a bug, rather than working as intended?

I would assume that fixing this would help a lot of use cases where more complex JSON Schemas are used. If we can do further to provide examples or similar, let us know.

[2019-05-28 19:38] fsteger opened #1299 "Support for grouped enums"
### Prerequisites

- [X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-05-29 00:46] domharrington opened #1300 "Check for type of array in default"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-05-29 13:27] fsteger commented on #1271
Yes; I was leaning towards keeping it more generic. For my use case, I'd set it to true when setting up the form with existing formData, and false for new submissions (or omit as this would be the default).
Part of the struggle otherwise is coming up with a concise, descriptive name-- ignoreDefaultsForExistingFormData is a bit of a mouthful. And someone may have a need for the other case, which co

[2019-05-30 16:00] giuvincenzi opened #1303 "ui:field not work in nested structure"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description

ui:field not work in nested structure
[code]

#### Expected behavior

A correct rendering as in the NOT nested structure.

#### Actual behavior
`Uncaught TypeError: Cannot read property 'ui:widget' of undefined ----> extractSubUiSchema.js:19`

![image](https://user-images.gith

[2019-05-30 20:18] essonjon commented on #1300
And there's a related issue, which is that the customer did not enter `null` as the default value but rather we automatically created it when converting their YAML file to JSON:

Details here:
https://app.asana.com/0/681252538274980/1125231582822105

[2019-05-31 01:47] epicfaace commented on #1043
@perusopersonale  -- the jsfiddle you sent is no longer working at all

[2019-06-02 01:07] epicfaace commented on #1043
Let me know if you have any other problems.

[2019-06-02 01:07] #1043 closed

[2019-06-02 11:00] giuvincenzi commented on #1303
Sorry for issue report, this problem is not in the react-json-schama-form library but in another library that wraps this.

[2019-06-02 11:00] #1303 closed

[2019-06-02 15:54] #1229 closed

[2019-06-02 15:54] #1293 closed

[2019-06-02 15:54] #768 closed

[2019-06-02 15:59] #1265 closed

[2019-06-03 00:22] epicfaace commented on #1290
Thanks!

@Gurkenschreck
- You should probably add it to `validateFormData`: https://github.com/mozilla-services/react-jsonschema-form/blob/fba5bee2ba4dae0b057a1a6f19c408ef2af427fb/src/validate.js#L167
- I think it's ok for it to be standard behavior. Although it's technically backwards incompatible, we don't provide any guarantees currently of the error order, so it makes sense for it to be like t

[2019-06-03 00:24] epicfaace commented on #1274
@laspluviosillas sounds like a problem with your webpack config? if you can send me a link to your github repo I can help look into it

[2019-06-03 00:50] epicfaace commented on #998
@celso-slalom I've added a test that fails when you toggle concatArrays to false in the place you mentioned: https://github.com/mozilla-services/react-jsonschema-form/pull/1306

I think the solution for this is, when concatArrays is true, one needs to discard duplicate elements when performing the concat. Would you be able to make a PR fixing this? https://github.com/mozilla-services/react-jsonsch

[2019-06-03 20:57] epicfaace commented on #1299
Interesting idea! How would you envision this widget would look like? (the native `<select>` element doesn't support grouping of enums, right) I'm thinking this could also be implemented by an option in the uiSchema -- any thoughts as to how that might be structured?

[2019-06-05 13:33] agilliam-cmg opened #1307 "I don't know what version of JSON Schema is currently supported"
Thank you for this wonderful project.  Please have the JSON Schema version number currently supported readily displayed either the README.md or the first page of the docs.

Much appreciated.

[2019-06-05 18:54] epicfaace commented on #1307
Thanks for pointing that out.

We currently support JSON Schema-07 by default, but we also support other JSON schema versions through this feature: https://react-jsonschema-form.readthedocs.io/en/latest/validation/#custom-schema-validation

It might be better to have that more prominently displayed, though.

[2019-06-05 19:01] agilliam-cmg commented on #1307
Thanks @epicfaace. Yes, it would be nice to have a link to this feature in the README.md, also maybe a one-liner stating "Supports up to v7.0" or something like that.

[2019-06-06 02:06] ankurkaushal360 opened #1308 "[Help] How do I invoke validation on `Continue` button for a multi step wizard?"
### Prerequisites

- [X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-06 20:38] mirajp commented on #1222
Yes, please keep additional themes as separate packages.

[2019-06-06 22:03] revolunet opened #1309 "custom widgets and React.memo"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-06 22:31] epicfaace commented on #1309
I believe the fix would involve adding `ReactIs.isMemo(widget)` here: https://github.com/mozilla-services/react-jsonschema-form/blob/41fce4aad12177757eaec823277587aa81166ad2/src/utils.js#L106

[2019-06-07 03:33] mravenash commented on #922
HeyMichael,
Do you have an example/sandbox of this issue. It will be really helpful.
Thanks
Avenash

[2019-06-07 04:38] ankurkaushal360 commented on #1308
For anyone coming here, I missed this from the docs:
[code]
Applies to `continue` button too.

[2019-06-07 04:38] #1308 closed

[2019-06-07 06:24] MatinF commented on #1293
I think some form of error has sneaked in as part of the latest release 1.6.0.

For us, all fields that have dependencies now cause the editor to break - incl. the playground sample shared above (you can verify this by copying the Schema into a new playground and observe that it does not render).

In contrast, the [same example will still render if I completely remove the "dependencies" tab](https

[2019-06-07 09:01] rmdevos commented on #1300
Is this related to #1238 ?

I'm currently also running into an issue where we define null as default value which causes a render issue.

[2019-06-07 10:27] MatinF opened #1311 "Release 1.6.0 editor crashes when dependencies are used"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-07 12:42] Gurkenschreck commented on #1290
I created a WIP pull request for this. Smiley.

I also asked two questions in it, I need some advice.

[2019-06-07 13:07] gaelicmichael commented on #922
I fixed it by following the example of the issue noted above. It was a shortage of clear documentation at the time that confused me, but I do now have it working as desired!

[2019-06-07 13:47] epicfaace commented on #1311
@MatinF, which error are you seeing? I just updated the playground to use 1.6.0 and both your examples are working.

[2019-06-07 14:09] MatinF commented on #1311
Hi again,

You're right that the sample example now seems to work - I'm not sure what made the difference since it worked when I originally raised the issue and didn't work when I tried earlier today. After your update, it works again.

However, I'm still facing trouble with schemas that would previously render just fine in 1.5.0.

I've attached an example below as I'm unable to share via the Play

[2019-06-07 15:08] jrose-carecloud commented on #1311
We're having the same issue with 1.6.0

[2019-06-07 17:43] epicfaace commented on #872
Good point, this would be a good feature. Additionally,  also for onDropIndexClick.

[2019-06-07 17:43] epicfaace opened #1314 "ArrayFieldTemplate - onAddClick should not require an argument"
### Prerequisites

- [ ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-07 17:49] epicfaace commented on #1113
I have a use case for this -- I need to render a dropdown widget on an ArrayFieldTemplate in which the user selects the number of items, and I'd like to use the SelectWidget from the registry for this.

[2019-06-07 21:52] domharrington commented on #1300
I dont think it's related to that, this refers to when an array type has a default value of `null`.

[2019-06-07 23:40] epicfaace opened #1315 "Capitalize "yes"/"no" by default for the default radio widget"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-08 01:33] #1311 closed

[2019-06-08 07:09] MatinF opened #1316 "Dependency defaults do not render for uncontrolled Form components"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-09 16:44] jejacks0n opened #1318 "Interest in extracting ui and schema mapping into shared dependency library?"
This is a question not an issue.

I'm working on a similar project (using vue) and have seen a couple of examples of the `UISchema` concept implemented now. Due to this, my priorities have shifted to include being consistent with one or more of those other projects and so extracting logic that handles "widget" mapping seems to be a high priority given those goals.

I'm sure we can all agree there

[2019-06-10 16:56] epicfaace commented on #1318
Thanks for your note @jejacks0n , interesting idea. Essentially, are you thinking of creating a new standard for uiSchema? It would be good if you could send a link to other implementations of the uiSchema concept so we can see how they share things in common.

Additionally, another proposal that has been floating around with this library is doing away with uiSchema entirely and embedding it into

[2019-06-10 17:08] epicfaace commented on #1316
@MatinF Playground has been updated to 1.6.1 -- here is the [playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJjYW5fMSI6eyJwaHkiOnsiYml0X3JhdGVfY2ZnX21vZGUiOjIsImJycCI6MTJ9fX0sInNjaGVtYSI6eyJ0eXBlIjoib2JqZWN0IiwiZGVmaW5pdGlvbnMiOnsiY2FuIjp7InR5cGUiOiJvYmplY3QiLCJwcm9wZXJ0aWVzIjp7InBoeSI6eyJ0aXRsZSI6IlRpdGxlWCIsInR5cGUiOiJvYmplY3QiLCJwcm9wZXJ0aWVzIjp7ImJp

[2019-06-10 17:29] MatinF commented on #1316
@epicfaace Thanks for updating it. I agree that the sample - and also my full Schema - runs fine in the playground. It's really strange why it does not run correctly in my project as I'm running 1.6.1 - but I guess I'll have to try and dig a bit deeper to see if I can replicate the issue somewhere beyond the playground.

Thanks for your help,
Martin

[2019-06-10 17:39] MatinF commented on #1316
After some more tests, I can see that it does indeed work - but for some reason the default values were not visible until I submit the updated formData. I.e. it would not show up in my editor - but that may be something related to my state handling. I'm closing this.

[2019-06-10 18:24] mravenash commented on #1059
Any update's on this issue? Where you able to find a solution?

Regards
Avenash

[2019-06-10 18:28] MatinF commented on #1316
Just one comment on this: I've tested around and I can't seem to find any obvious issue in my implementation of the react-jsonschema-form.

Perhaps an issue can be that if the formData is not updated by user input directly - but by an indirect change (e.g. as in dependent default fields) - it breaks the state update functionality in some implementations.

I run state updates by providing the follo

[2019-06-10 18:33] coder-guy22296 commented on #1309
Is anybody currently working on a solution for this issue?

[2019-06-10 18:43] epicfaace commented on #1309
No, not as of now -- @coder-guy22296 would you be able to fix it?

[2019-06-10 22:25] jejacks0n commented on #1318
I'm not opinionated on an approach to the UI Schema challenge yet, but have ideas. I tend to agree with it being part of the JSON Schema definition for simplicity when nothing complex is needed, and then some other schema concept for when you want to do something more complex maybe?

I don't want us to define and document a schema around UI because that's just asking for a load of work that most d

[2019-06-10 23:33] epicfaace commented on #1314
Code pointer: https://github.com/mozilla-services/react-jsonschema-form/blob/2a7e4e11fd34952ff4e73cc0e2b39a70356b7dfe/src/components/fields/ArrayField.js#L219

[2019-06-11 00:48] jejacks0n commented on #1318
Couple things to note -- the use of arrays and not objects because of ordering issues that can arise from objects (https://stackoverflow.com/questions/5525795/does-javascript-guarantee-object-property-order). Generally the object order doesn't matter when you're dealing with JSON Schema, but in the case of a UI it probably does. Open to ideas about that though because I thought the use of arrays w

[2019-06-11 19:34] ankurkaushal360 opened #1319 "Uncaught TypeError: Cannot read property '0' of undefined while importing Form"
### Prerequisites

- [X] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-11 20:05] MatinF commented on #1316
@epicfaace: I've tested the issue of rendering dependency defaults some more.

It's correct that the examples mentioned work in the Playground - and as such I'm unable to replicate the issue there. However, when I create a very basic app (using create-react-app) I find the following issue with dependency defaults:
1) The dependent default value does not render in the dropdown example when option C

[2019-06-12 15:45] ankurkaushal360 commented on #1319
Not sure who I can tag so I am tagging you @glasserc since you pushed the last version.

Would it make sense to remove `core-js` and leave it up to users to polyfill stuff? Because if we remove the `core-js` from our end, it works and the error above goes away. Also, we using latest version of `core-js` (3.1.3) & library is using an obsolete version right now. Moreover, I don't want to be the one

[2019-06-12 17:18] epicfaace commented on #1319
@ankurkaushal360 thanks for the writeup. We're using core-js only in two spots in the code -- the `fill` and `includes` functions (https://github.com/mozilla-services/react-jsonschema-form/search?q=core-js&unscoped_q=core-js). I'd be happy to accept a PR that implements these two functions either with a new version of core-js or something like Lodash. Using Babel 7 would be great as well.

[2019-06-12 18:00] epicfaace commented on #1316
Yes, you're right -- here's a jsfiddle reproduction: https://jsfiddle.net/h0adfqjy/

[2019-06-13 09:30] MatinF commented on #391
I had a similar problem in my form.

By using the proposed solution proposed by n1k0 I can resolve this and avoid my formData being reset when e.g. clicking a button not related to the submit functionality.

However, the challenge is that by implementing this solution, I'm no longer able to provide an external formData for initializing my form.

Before trying to use n1k0's solution, I had the foll

[2019-06-13 17:09] khelkun commented on #1316
Is the only workaround for the moment is to provide a right formData property at the Form component rendering?

[2019-06-14 07:35] MatinF commented on #1316
I've not been able to find a stable work-around on my end (but of course happy to hear there are suggestions). Would be great if this could be resolved within the module

[2019-06-15 03:09] epicfaace commented on #1316
I actually ran into this issue in another application using rjsf (my schema was a oneOf with a bunch of constant objects) and my workaround was just to modify the schema on the fly to make the schema for the default value the first item in oneOf. This worked in my specific case but probably won't work in all cases...

[2019-06-15 10:48] MatinF commented on #1316
@epicfaace Our challenge with such a solution is that we need to have a specific value in the dropdown be the default selection of the dropdown. However, one of the non-default dropdown selections have dependency defaults - hence we run into the rendering issue.

Since this seems to work in the playground, I guess there's some sort of compensation fix going on in that code. Perhaps a similar think

[2019-06-16 21:38] mravenash opened #1321 "Clear form fields/widgets data with button."
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.

### Description
Is there a clear button for each fields that we can use to clear for forms fields?
I am looking for a button on each field/widget that

[2019-06-18 05:24] #1113 closed

[2019-06-18 16:45] amuzyka commented on #1124
@maartenth you can use uuid for the key. It's not ideal, but worked for me with my custom fields.

[2019-06-18 19:58] kylehalleman commented on #1046
Like @f0rr0, would be happy to submit a PR if direction is given on what's the best approach and where we'd make this update.

[2019-06-18 21:01] epicfaace commented on #1046
@kylehalleman the best approach would be to create a unique id for each array item as it is added (or rendered for the first time), and set that to the key. You could use a library like shortid to do so; see https://medium.com/@robinpokorny/index-as-a-key-is-an-anti-pattern-e0349aece318

[2019-06-18 21:03] epicfaace commented on #1124
Perhaps this is related to https://github.com/mozilla-services/react-jsonschema-form/issues/1046?

[2019-06-18 22:03] svankireddy-cartera opened #1325 "Question: Custom Field: Prevent form from submit and show errors in error list on top of the form"
This is a question not an issue.
I have create new custom field but when Error occurs in that custom field:
I dont want form to be submitted, Its not very clear in documentation on how to do it?

Use Case:
When Error Occurs on the custom field how Can we stop form from  submit and show error (I dont want to use validate instead write code for errors in same custom field )?

Note: this is not a run

[2019-06-18 23:06] svankireddy-cartera commented on #801
@francisrod01 did you figure out a way to do this?

[2019-06-18 23:29] epicfaace commented on #1316
This is strange -- even the example originally mentioned in #1293 is not working outside of the playground: https://jsfiddle.net/3e18wkd5/

[2019-06-19 05:13] MatinF commented on #1316
That's also what I've found in my production build. The dangerous aspect is that when using release 1.6.1, the defaults will be populated in unexpected settings. The result can be that users see one thing in the form (unpopulated defaults) - yet when they submit, the defaults are populated in some cases.

This would be a really great thing to get resolved in a new release - or alternatively to hav

[2019-06-19 12:10] StevenVerbiest commented on #500
Is there any way to collect the errors onSubmit? I'm also submitting multiple tabs via ref.onSubmit, but I need to invoke a callback after submission of all forms, but the `ref.state.errors` array is always empty on submit.

[2019-06-19 14:38] epicfaace commented on #801
You should just be able to use [custom validation](https://react-jsonschema-form.readthedocs.io/en/latest/validation/#custom-validation).

[2019-06-19 14:39] epicfaace commented on #1325
@svankireddy-cartera what do you mean by "prevent form from submit"? You have full control of what happens during form submit through the `onSubmit` handler.

Could you link to a reproducible example on jsfiddle so it becomes clearer what exactly you are trying to do?

[2019-06-19 14:40] epicfaace commented on #1325
You _can_ use the `showErrorList` prop to control where the error list is shown, though: https://react-jsonschema-form.readthedocs.io/en/latest/validation/#error-list-display

[2019-06-19 14:41] epicfaace commented on #500
@StevenVerbiest usually, onSubmit is called only when there are no errors on the form.

[2019-06-19 14:54] jduncanRadBlue commented on #500
@StevenVerbiest we found no way to collect errors on different tabs because if the tab is not rendered, it doesn't exist in the DOM.  We were getting errors "An invalid form control with name=foo is not focusable".
We ended up using on change for text boxes and populating redux state with the values.  I then have a required fields json object that I run through on submit and check for values there

[2019-06-19 16:17] choweiyuan opened #1326 "[Question] oneOf boolean not showing properties on selection"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [ ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-19 17:56] epicfaace commented on #1316
It seems like the workaround is to make the form a controlled component -- i.e., save the form data in the state and update it in during `onChange` -- see this jsfiddle for example: https://jsfiddle.net/qrhws8f6/

[2019-06-19 22:39] #1235 closed

[2019-06-19 22:45] epicfaace commented on #1326
That's not a valid schema for oneOf. Since the type of the entire form is "boolean", it's not possible to store properties in it unless the type of the form is "object".

You might want to check out the "Schema dependencies" example for something closer to what you want: https://react-jsonschema-form.readthedocs.io/en/latest/dependencies/#dynamic

[2019-06-20 05:49] ketysek opened #1327 "Default values doesn't work for properties of objects in array"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] I'm providing a [shared playground link](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJwYXJhbWV0ZXJzIjp7ImNsaWVudF9

[2019-06-20 09:17] StevenVerbiest commented on #500
@epicfaace I'm calling `onSubmit` programmatically, which triggers the validation, but there is no way of collecting any errors after submit on runtime. It seems the errors are set asynchronously?

@jduncanRadBlue my case is a bit different, because the tabs _are_ rendered in my component. Do you manually validate your data or do u use the jsonschema-form validator?

I'll try to set up a test case

[2019-06-20 10:12] choweiyuan commented on #1326
Thanks @epicfaace , had a look at your suggestion and came up with this which is pretty much what I want.
[Sample here](https://mozilla-services.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJEbyB5b3UgaGF2ZSBhbnkgcGV0cz8iOnRydWUsInNpbXBsZSI6eyJuYW1lIjoiUmFuZHkifSwiY29uZGl0aW9uYWwiOnsiRG8geW91IGhhdmUgYW55IHBldHM/IjoiTm8ifSwiYXJyYXlPZkNvbmRpdGlvbmFscyI6W3siRG8geW91IGhhdmUgYW55IHBldHM/IjoiWWVzOi

[2019-06-20 10:12] #1326 closed

[2019-06-20 12:08] MohsenZamany opened #1328 "Jalali or Persian datetime picker"
i want a persian-jalali date picker instead of gregorian datepisker

[2019-06-20 13:53] epicfaace commented on #1328
You'd probably need to make a custom widget for that. You could make a widget and then make a PR for it if you'd like to add it to the main library.

[2019-06-20 13:56] epicfaace commented on #1327
Thanks for reporting. Do you know if this worked before 1.6?

[2019-06-20 14:39] epicfaace commented on #500
@StevenVerbiest how are you calling `onSubmit` programmatically? Can you send a code example?

[2019-06-20 15:53] amuzyka commented on #1124
@epicfaace you are right, that's the issue..

[2019-06-21 07:02] ketysek commented on #1327
@epicfaace I can tell you only that it doesn't work even in version `1.1.0` which we have installed in our app.

[2019-06-21 09:27] MatinF commented on #1316
I managed to create a slightly "hacky" workaround. In my case, the setup is a bit more complex as I need to load the formData as an external input via state from a redux store. If the user chooses a new formData starting point from a dropdown, the formData needs to be populated with this - yet at the same time, I need it to correctly render.

The solution was to add a dispatch that updates the sta

[2019-06-21 09:35] MatinF opened #1329 "Option to auto-remove/clean formData properties not found in Schema?"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-21 17:05] epicfaace commented on #1316
Yeah, good you found a solution, although I think this is still a problem worth fixing.

[2019-06-21 17:07] epicfaace commented on #1329
See #1283

[2019-06-21 17:14] MatinF commented on #1316
Agreed, would be great with a non hacky solution

[2019-06-24 11:44] louisbyrne89 opened #1333 "Removing or reordering an ArrayField breaks app"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-24 15:01] jduncanRadBlue commented on #500
@StevenVerbiest I use my own validation.  The jsonschema-form didn't know what to do with fields that weren't rendered b/c the tab info wasn't in the dom.  I kept getting the focus errors and gave up; decided to write my own.

[2019-06-24 16:07] choweiyuan opened #1334 "anyOf/oneOf properties don't show default value"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-24 16:22] #1276 closed

[2019-06-25 12:26] Gurkenschreck commented on #1296
If you remove the `"default": ""` from the playground links schema, it adds the empty option/placeholder.

I'm not sure if this is the expected behaviour for the `default` property.

[2019-06-26 20:05] nkarip opened #1337 "Initialize Ajv validator with option verbose:true"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);

### Description
Request new feature to initialize Ajv validator with option verbose: true (default is false). This provides parentSchema object in error and makes it easier to create a user-friendly error message (using field title). In validate.js would need to modify createAjvInstance to add

[2019-06-27 17:31] CauchyAbel opened #1339 "TransformErrors happens before custom validate rule is run"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [ ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-29 12:45] goralight opened #1340 "Default value does not work within anyOf PG"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-06-29 14:42] #925 closed

[2019-06-29 15:44] epicfaace commented on #1340
Duplicate of #1334

[2019-06-29 15:44] #1340 closed

[2019-06-29 15:56] epicfaace commented on #1333
Can you see if you can reproduce this on the playground? both on https://mozilla-services.github.io/react-jsonschema-form/ and then https://deploy-preview-1335--trusting-agnesi-d3347d.netlify.com/ That way we can see if #1335 fixes it.

[2019-06-29 15:57] #1325 closed

[2019-06-29 15:57] epicfaace commented on #1321
No, there currently isn't. You could make a custom widget for it though.

[2019-07-02 12:00] daveruiz commented on #850
Hello there! Any update on this? I faced some limitations with "dependencies" that forces me to change the form structure. For example: having an array field that triggers different dependant fields on different values. Using "dependencies" I would need to put all possible combinations in the `dependency.oneOf` array... not desired at all.

[2019-07-02 13:31] Elena363 commented on #1263
@ketysek no progress here? have the same issue but filter errors in transformErrors is a bad idea. Maybe you found the neat solution?

[2019-07-02 14:44] louisbyrne89 commented on #1333
Yes this fixes the issue. Thanks!

[2019-07-03 00:37] bresson commented on #1314
I have a fix ready but this appears to be identical to #1324 which appears to be in a holding pattern.

[2019-07-03 04:46] epicfaace commented on #850
This is definitely a feature we'd love to have / accept a PR for. @cybojenix can you elaborate on what exactly you meant when you said "the main issue caused was that lists would not get appended..."? Not sure I get exactly what you meant here.

[2019-07-03 04:50] epicfaace commented on #1314
@bresson sure, feel free to make a PR with the fix + the required tests. You should just be able to make a test with an ArrayFieldTemplate that calls onAddClick with no arguments, then simulate that call, and make sure that no error occurs.

[2019-07-03 06:38] cybojenix commented on #850
Reading through what I said, I believe it was to do with being able to define a schema as part of your "$ref", and only controlling what you need via the conditional block.

In the above case, I believe our root ref schemas had 'required' set, but that was getting overwritten whenever the 'required' in the conditional was applied.

Looking at the current code in master, this appears to have been f

[2019-07-03 11:49] ketysek commented on #1263
@Elena363 no progress here, I've just left it as it is for now and tell our users about it if someone got a problem.

[2019-07-03 15:20] Elena363 commented on #1263
Ok, got it. Thanks for the quick response

[2019-07-03 15:55] epicfaace commented on #1263
Why did you say "filter errors in transformErrors is a bad idea"?

[2019-07-03 21:24] bresson commented on #1314
@epicfaace Great! As far as I can tell, there are two options:

Option A
[code]

Option B ( with implied syntheticEvent parameter )
[code]
Option A works with all existing tests but is not quite a as elegant as Option B IMHO. However Option B fails about 13 existing tests, mostly referenceErrors for undefined "Event" even when I attempt to pass in the second parameter to Simulate:

[code]
That tes

[2019-07-03 22:57] bresson commented on #1314
@epicfaace Great!

Looks like there are two options :

Option A
[code]

Option B ( with implied passing of SyntheticEvent instance )
[code]
Option A will pass all existing tests. Option B passes manual tests but fails about 13 unit tests, mostly for undefinedReferece error "event." I tried passing in an artificial event object to the unit tests --
[code]
That test snippet should work but I can dig

[2019-07-04 04:43] epicfaace commented on #1314
I'm not sure what you mean by option b. Where is `event` defined in that case?

[2019-07-04 07:26] Elena363 commented on #1263
Well, we had some considerations taking into account our specific case, still we ended up in filtering error types (aka anyOf etc) in transformErrors as most appropriate solution available

[2019-07-04 14:08] bresson commented on #1314
I'm on shakier ground with Option B but my understanding is onClick will be passed an instance of the SyntheticEvent object. onAddClick would access that param as an implied parameter through lexical scope.

After looking at Option B again, it's less readable and can give the appearance that "event" may be a global. Further, "event" doesn't get the benefit of aliasing through the parameter so in t

[2019-07-04 20:57] timothyallan commented on #1201
I'm making a form designer which animates a "save" button when the user has made changes to their form. Depending on the formData I pass in initially (i.e. if they are editing an existing form), onChange() can be triggered internally by the Form itself, which of course triggers my animation!

Even if we could know if it was the user, or an internal function that called onChange(), we could repsond

[2019-07-05 02:48] ShawnShiFan commented on #626
combine material-ui ？

[2019-07-05 05:08] epicfaace commented on #626
There is now a way to include custom themes -- see #1222

[2019-07-05 05:08] epicfaace commented on #1222
@TwoAbove yes, that sounds like a good idea.

[2019-07-05 06:49] Leksat commented on #1023
Uh, it took me several hours to find this.

My current workaround: extend `Form` class and override `componentWillReceiveProps` to call the parent method only if it is really required.

[2019-07-05 08:12] rogierverkaik opened #1344 "How to create an form of an array of objects horizontally?"
### Description

See a simple example at JSFiddle: https://jsfiddle.net/p862ufvr/22/
I've created a simple form with an array of objects. Each object has 3 fields. The fields are now shown vertically as you can see. But I'd like to show them horizontally, so next to each other. As you can see the form is now shown like this:

[id,
name,
description]
[id,
name,
description]

How can I present the f

[2019-07-05 17:31] timothyallan commented on #1344
What if you use the inline feature? https://react-jsonschema-form.readthedocs.io/en/latest/form-customization/#multiple-choice-list

[code]

[2019-07-05 20:30] rogierverkaik commented on #1344
I've tried this inline feature, but I think it only works for checkboxes. I tried it here: https://jsfiddle.net/utnr8svj/10/.

[2019-07-05 20:40] timothyallan commented on #1344
Ahh right, indeed it does. The `fieldset` used with yours won't pick that up.

[2019-07-07 13:59] epicfaace commented on #1344
Yeah the way I worked around this was to override the ObjectFieldTemplate in order to allow for objects to be on the same row. Having `"ui:options": { inline: true }` apply to objects is a great idea, though.

[2019-07-08 08:40] rogierverkaik commented on #1344
@epicfaace, is it possible you can add your ObjectFieldTemplate override workaround into https://jsfiddle.net/p862ufvr/22/ ? I tried to implement it, but I couldn't get it working yet. Thanks!

[2019-07-08 12:38] jorenvh1 commented on #1328
I am also interested in a persian-jalali datepisker.

[2019-07-08 14:28] mazikeens opened #1346 "Error when nullable array is null"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-07-08 14:38] mazikeens opened #1347 "Incorrect new value when adding object key with nullable type"
### Prerequisites

- [x] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [x] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.github.io

[2019-07-08 17:31] epicfaace commented on #1344
@rogierverkaik you can take a look here: https://github.com/epicfaace/CFF/blob/master/scripts/src/form/form_templates/ObjectFieldTemplate.tsx

[2019-07-09 04:04] themakerman commented on #1222
@TwoAbove How do i use material-UI theme with react-jsonschema-form?

[2019-07-09 09:58] nathfy opened #1348 "Show all options in an AnyOf or OneOf when printing"
### Prerequisites

- [x ] I have read the [documentation](https://react-jsonschema-form.readthedocs.io/);
- [n/a ] In the case of a bug report, I understand that providing a [SSCCE](http://sscce.org/) example is tremendously useful to the maintainers.
- [x ] Ideally, I'm providing a [sample JSFiddle](https://jsfiddle.net/n1k0/f2y3fq7L/6/) or a [shared playground link](https://mozilla-services.gith

[2019-07-09 14:32] LorenzHenk opened #1349 "Logo for react-jsonschema-from"
### Description

Despite json-schema having a logo (https://json-schema.org/assets/logo.svg), it seems like this project does not have a logo at all.

I'd like to dedicate this issue to sharing logo ideas and drafts.

This is @PhilipTrauner's and my take on it:

![logo](https://user-images.githubusercontent.com/10603631/60896656-01615d00-a267-11e9-9fee-1f6896d0130e.png)

[2019-07-09 14:36] epicfaace commented on #1222
@mirajp , just to clarify -- were you agreeing with @TwoAbove 's suggestion to keep additional themes as separate imports from react-jsonschema-form, or were you referring to separate _npm_ packages?

[2019-07-09 14:47] mirajp commented on #1222
@epicfaace oh oops misread the import lines as separate packages, not folders in same package (saw "core" and assumed @TwoAbove also meant separate packages -- you can use "/" in package names, right? ex: https://www.npmjs.com/package/@uifabric/icons and https://www.npmjs.com/package/@uifabric/experiments)

[2019-07-09 15:28] TheNando opened #1351 "What is the project's release cadence?"
### Description

There is a bug fix in master that would really help our team out for our project. We are considering just temporarily bundling a build, but it seems you may be close to a release.

[2019-07-09 15:37] #1198 closed

[2019-07-09 16:05] epicfaace commented on #1339
Unfortunately, this isn't something we can change in the current version due to backwards compatibility issues. Maybe in v2?

For now, you could just call your transform error transformations in the customValidate function as well, as a workaround.